In [118]:
from pyspark.sql import SparkSession

In [162]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("restaurant-review-average") \
    .master("local[*]") \
    .getOrCreate()

In [163]:
spark = SparkSession.builder.appName("HeaderRemoval").master("local[*]").getOrCreate()
sc = spark.sparkContext

In [164]:
sc = spark.sparkContext  # 필요 시 RDD API를 위해 사용

In [165]:
file_path = "file:///home/jovyan/work/start_spark/start_spark/running_spark_data/restaurant_reviews.csv"
lines = sc.textFile(file_path)

In [166]:
lines = sc.textFile("file:///home/jovyan/work/start_spark/start_spark/running_spark_data/restaurant_reviews.csv")

lines.take(5)

['id,item,cateogry,reviews,',
 '0,짜장면,중식,125,',
 '1,짬뽕,중식,235,',
 '2,김밥,분식,32,',
 '3,떡볶이,분식,534,']

In [167]:
data = [
    (0, "짜장면", "중식", 125),
    (1, "짬뽕", "중식", 235),
    (2, "김밥", "분식", 32),
    (3, "떡볶이", "분식", 534),
    (4, "라멘", "일식", 223),
    (5, "돈가스", "일식", 52),
    (6, "우동", "일식", 12),
    (7, "쌀국수", "아시안", 312),
    (8, "햄버거", "패스트푸드", 12),
    (9, "치킨", "패스트푸드", 23),
]

In [168]:

header = lines.first()
print(f"헤더: {header}")

# 2. filter 변환을 사용하여 헤더를 제외한 데이터만 남깁니다.
data_without_header = lines.filter(lambda line: line != header)

# 헤더가 제거된 RDD의 첫 5개 항목을 확인합니다.
print("\n--- 헤더가 제거된 데이터 미리보기 (상위 5개) ---")
for line in data_without_header.take(5):
    print(line)

헤더: id,item,cateogry,reviews,

--- 헤더가 제거된 데이터 미리보기 (상위 5개) ---
0,짜장면,중식,125,
1,짬뽕,중식,235,
2,김밥,분식,32,
3,떡볶이,분식,534,
4,라멘,일식,223,

In [ ]:
#총건수확인 첫줄 데이터 분할, map으로 split

In [169]:

data_rdd = spark.sparkContext.parallelize(data)

# RDD의 총 건수를 계산합니다.
total_count_rdd = data_rdd.count()

# 결과를 출력합니다.
print(f"RDD의 총 건수는 {total_count_rdd}개입니다.")

RDD의 총 건수는 10개입니다.

In [170]:
def parse(row):
    fields = row.split(",")
    
    category = fields[2] #카테고리
    
    # reviews는 정수로 parse
    reviews = fields[3] # 리뷰수
    reviews = int(reviews)
    
    return category, reviews

In [171]:
parse('0,짜장면,중식,125,')

('중식', 125)

In [172]:
# 각 라인을 쉼표(,) 기준으로 분할하여 리스트 형태로 만듭니다
filtered_lines= data_without_header.map(lambda line: line.split(','))

In [173]:
category_reviews = filtered_lines.map(parse)
category_reviews

PythonRDD[9] at RDD at PythonRDD.scala:53

In [176]:
filtered_lines.collect()

[['0', '짜장면', '중식', '125', ''],
 ['1', '짬뽕', '중식', '235', ''],
 ['2', '김밥', '분식', '32', ''],
 ['3', '떡볶이', '분식', '534', ''],
 ['4', '라멘', '일식', '223', ''],
 ['5', '돈가스', '일식', '52', ''],
 ['6', '우동', '일식', '12', ''],
 ['7', '쌀국수', '아시안', '312', ''],
 ['8', '햄버거', '패스트푸드', '12', ''],
 ['9', '치킨', '패스트푸드', '23']]

In [161]:
spark.stop()

In [178]:
parse('0,짜장면,중식,125,')

('중식', 125)

In [191]:
categoryReviews = filtered_lines.map(parse).persist() # categoryReviews RDD는 하나만 존재하는 RDD
categoryReviews

PythonRDD[21] at RDD at PythonRDD.scala:53

In [193]:
#narrow Transformations
#1:1변환 -> 하나의 열을 다룰 때 다른 데이터가 필요없는 경우
#filter(), map(), flatmap(), sample(), union()

In [200]:
#flat map()

In [194]:
rdd = sc.parallelize([1, 2, 3])
rdd_map = rdd.map(lambda x: [x, x + 1])  # => [[1, 2], [2, 3], [3, 4]]
rdd_map.collect()

[[1, 2], [2, 3], [3, 4]]

In [195]:
rdd_flatmap = rdd.flatMap(lambda x: [x, x + 1])  # => [1, 2, 2, 3, 3, 4]
rdd_flatmap.collect()

[1, 2, 2, 3, 3, 4]

In [199]:
movies = [
    "그린 북",
    "매트릭스",
    "토이 스토리",
    "캐스트 어웨이",
    "포드 V 페라리",
    "보헤미안 랩소디",
    "빽 투 더 퓨처",
    "반지의 제왕",
    "죽은 시인의 사회"
]

In [202]:
moviesRDD = sc.parallelize(movies)
moviesRDD

ParallelCollectionRDD[50] at readRDDFromFile at PythonRDD.scala:289

In [203]:
#job 추가 x
flatMovies = moviesRDD.flatMap(lambda x : x.split(" "))
flatMovies.collect()

['그린',
 '북',
 '매트릭스',
 '토이',
 '스토리',
 '캐스트',
 '어웨이',
 '포드',
 'V',
 '페라리',
 '보헤미안',
 '랩소디',
 '빽',
 '투',
 '더',
 '퓨처',
 '반지의',
 '제왕',
 '죽은',
 '시인의',
 '사회']

In [205]:
# 집합 Transformation
num1 = sc.parallelize([1, 2, 3, 4, 5])
num2 = sc.parallelize([4, 5, 6, 7, 8, 9, 10])

In [208]:
num1.intersection(num2).collect()
# 합집합 구하기 - union
num_union = num1.union(num2)
num_union
num_union.collect()

[1, 2, 3, 4, 5, 4, 5, 6, 7, 8, 9, 10]

In [217]:
# 차집합 구하기 - subtract
num1.subtract(num2).collect()

[1, 2, 3]

In [220]:
# 데이터 랜덤 추출 - sample(withReplacement, fraction, seed=None)
# withReplacement : True -> 중복 추출

In [231]:
# withReplacement : True -> 중복 추출
num_union.sample(True, 0.3).collect()

[9]

In [232]:
foods = sc.parallelize([
    "짜장면", "마라탕", "짬뽕", "떡볶이", "쌀국수", "짬뽕", "짜장면", "짜장면", "짜장면", "라면", "우동", "라면"
])
foods

ParallelCollectionRDD[143] at readRDDFromFile at PythonRDD.scala:289

In [247]:
# 그룹핑의 기준을 문자열의 첫 번째 글자로 설정
foodsGroup = foods.groupBy(lambda x : x[0])
foodsGroup

PythonRDD[169] at RDD at PythonRDD.scala:53

In [243]:
res=foodsGroup.collect()

In [241]:
res

[('짜', <pyspark.resultiterable.ResultIterable at 0x7ff71bc9f850>),
 ('짬', <pyspark.resultiterable.ResultIterable at 0x7ff71bc9d310>),
 ('쌀', <pyspark.resultiterable.ResultIterable at 0x7ff71bc9d990>),
 ('라', <pyspark.resultiterable.ResultIterable at 0x7ff71bc9ce90>),
 ('우', <pyspark.resultiterable.ResultIterable at 0x7ff71bc9cf50>),
 ('마', <pyspark.resultiterable.ResultIterable at 0x7ff71bc9ffd0>),
 ('떡', <pyspark.resultiterable.ResultIterable at 0x7ff71bc9e390>)]

In [244]:
for (k, v) in res:
    print(k, list(v))

짜 ['짜장면', '짜장면', '짜장면', '짜장면']
짬 ['짬뽕', '짬뽕']
쌀 ['쌀국수']
라 ['라면', '라면']
우 ['우동']
마 ['마라탕']
떡 ['떡볶이']

In [235]:
# 내로우 narrow  트랜스포메이션

In [249]:
### 2. Narrow 트랜스포메이션 예제
numbers = sc.parallelize([1, 2, 3, 4, 5])
numbers.collect()
# 1:1 변환 (Narrow Transformation)

[1, 2, 3, 4, 5]

In [257]:
union=numbers.union(sc.parallelize([6,7,8]))
union

UnionRDD[189] at union at <unknown>:0

In [258]:
kv_rdd = sc.parallelize([("apple",1), ("banana",2) , ("cherry",3) ])

In [260]:
mapp_values = kv_rdd.mapValues(lambda x: x*10)
mapp_values.collect()

[('apple', 10), ('banana', 20), ('cherry', 30)]

In [263]:
grouped_rdd = kv_rdd.groupByKey()
grouped_rdd.collect()

[('apple', <pyspark.resultiterable.ResultIterable at 0x7ff71a77c490>),
 ('banana', <pyspark.resultiterable.ResultIterable at 0x7ff71a60f910>),
 ('cherry', <pyspark.resultiterable.ResultIterable at 0x7ff71a60e190>)]

In [264]:
reduced_rdd = kv_rdd.reduceByKey(lambda x,y : x+y)
reduced_rdd.collect()

[('apple', 1), ('banana', 2), ('cherry', 3)]

In [266]:

# 셔플링이 필요한 변환 (Wide Transformation)
distinct_rdd = sc.parallelize([1, 1, 2, 2, 3, 3]).distinct()
grouped_rdd = kv_rdd.groupByKey()
reduced_rdd = kv_rdd.reduceByKey(lambda x, y: x + y)

In [268]:
# 두 RDD 조인하기
rdd1 = sc.parallelize([("apple", 2), ("banana", 1)])
rdd2 = sc.parallelize([("apple", "fruit"), ("banana", "fruit"), ("carrot", "vegetable")])

# 두 RDD 조인
joined_rdd = rdd1.join(rdd2)
print(joined_rdd.collect())
# 출력 결과: [('apple', (2, 'fruit')), ('banana', (1, 'fruit'))]

print("Distinct RDD:", distinct_rdd.collect())  # [1, 2, 3]
print("Joined RDD:", joined_rdd.collect())  # [("apple", (2, "fruit")), ("banana", (1, "fruit"))]

[('apple', (2, 'fruit')), ('banana', (1, 'fruit'))]
Distinct RDD: [2, 1, 3]
Joined RDD: [('apple', (2, 'fruit')), ('banana', (1, 'fruit'))]

In [269]:
# 왼쪽 외부 조인 (leftOuterJoin)
left_joined = rdd1.leftOuterJoin(rdd2)
print(left_joined.collect())
# 출력 결과: [('apple', (2, 'fruit')), ('banana', (1, 'fruit'))]

# 오른쪽 외부 조인 (rightOuterJoin)
right_joined = rdd1.rightOuterJoin(rdd2)
print(right_joined.collect())
# 출력 결과: [('apple', (2, 'fruit')), ('banana', (1, 'fruit')), ('carrot', (None, 'vegetable'))]

# subtractByKey 연산
subtract_result = rdd1.subtractByKey(sc.parallelize([("apple", "any")]))
print(subtract_result.collect())
# 출력 결과: [('banana', 1)]

[('apple', (2, 'fruit')), ('banana', (1, 'fruit'))]
[('apple', (2, 'fruit')), ('banana', (1, 'fruit')), ('carrot', (None, 'vegetable'))]
[('banana', 1)]

In [272]:
# reduce 연산 (결합성과 교환성을 가진 작업)
sum_result = numbers.reduce(lambda x, y: x + y)
product_result = numbers.reduce(lambda x, y: x * y)


print("Sum:", sum_result)  # 15
print("Product:", product_result)  # 120

Sum: 15
Product: 120

In [273]:
from operator import add

In [274]:
sample_rdd = sc.parallelize([1, 2, 3, 4, 5])
sample_rdd

ParallelCollectionRDD[289] at readRDDFromFile at PythonRDD.scala:289

In [276]:
#RDD에 있는 숫자의 합계를 계산:
sample_rdd.reduce(add)

15

In [277]:
sample_rdd = sc.parallelize([1, 2, 3, 4])
sample_rdd.reduce(lambda x, y : (x * 2)+ y)

18

In [279]:
sc.parallelize([1, 2, 3, 4], 2).reduce(lambda x, y : (x * 2) + y)

18

In [280]:
sc.parallelize([1, 2, 3, 4], 3).reduce(lambda x, y : (x * 2) + y)

18

In [281]:
sc.parallelize([1, 2, 3, 4], 1).reduce(lambda x, y : (x * 2) + y)

26

In [282]:
# 파티션을 3개로 지정

In [283]:
rdd = sc.parallelize([2, 3, 4], 4)

#숫자의 곱을 계산해서 합한다
print(rdd.reduce(lambda x, y : (x * y))) # 2 x 3 -> x 4
print(rdd.fold(1, lambda x , y : (x * y))) # 1 x 2 x 3 x 4

24
24

In [284]:
rdd.fold(2, lambda x , y : (x * y)) 
# 초기값 2 지정 :: 2x2 , 2x3, 2x4, "" > 4 , 6, 8, "" 
# 다시 초기값 2 지정 :: 4x2*6, 48x2*8, "" > 768

768

In [285]:
print(rdd.reduce(lambda x, y : x + y)) 
print(rdd.fold(1, lambda x, y : x + y))

9
14

In [286]:
# 대규모 숫자 데이터셋 생성
numbers_rdd = sc.parallelize(range(1, 1000001))

# fold를 사용하여 총합계 계산
total_sum = numbers_rdd.fold(0, lambda x, y: x + y)

print(f"Total sum: {total_sum}")

Total sum: 500000500000

In [287]:
# 직원 급여 데이터
salaries_rdd = sc.parallelize([50000, 60000, 55000, 75000, 65000, 80000])

# fold를 사용하여 최대 급여 찾기
max_salary = salaries_rdd.fold(0, lambda x, y: max(x, y))

print(f"Maximum salary: {max_salary}")

Maximum salary: 80000

In [288]:
# 부서별 직원 급여 데이터
dept_salaries = [("IT", 50000), ("HR", 45000), ("IT", 60000), 
                 ("Finance", 55000), ("HR", 50000), ("IT", 65000)]
dept_rdd = sc.parallelize(dept_salaries)

# foldByKey를 사용하여 부서별 최대 급여 찾기
max_salary_by_dept = dept_rdd.foldByKey(0, lambda x, y: max(x, y))

print("Maximum salary by department:")
for dept, max_salary in max_salary_by_dept.collect():
    print(f"{dept}: {max_salary}")

Maximum salary by department:
IT: 65000
HR: 50000
Finance: 55000

In [291]:
rdd = sc.parallelize([1, 1, 2, 3, 5, 8])
result = rdd.groupBy(lambda x : x % 2).collect()

sorted([(x, sorted(y)) for (x, y) in result])

[(0, [2, 8]), (1, [1, 1, 3, 5])]

In [292]:
[(x, sorted(y)) for (x, y) in result]

[(0, [2, 8]), (1, [1, 1, 3, 5])]

In [293]:
#판매 데이터 분석 (카테고리별 총 매출 계산)
sales_data = [
    ("Electronics", 1000),
    ("Clothing", 500),
    ("Electronics", 1500),
    ("Books", 300),
    ("Clothing", 750),
    ("Books", 200)
]

In [294]:
# RDD 생성
sales_rdd = sc.parallelize(sales_data)

# 카테고리별 총 매출 계산
category_sales = sales_rdd.groupBy(lambda x: x[0]) \
    .mapValues(lambda values: sum(item[1] for item in values)) \
    .collect()

# 결과 출력
for category, total_sales in category_sales:
    print(f"{category}: ${total_sales}")

Clothing: $1250
Electronics: $2500
Books: $500

In [295]:
#로그 데이터 처리 (IP 주소별 접속 횟수 분석)
# SparkContext 생성 가정 (sc)
log_data = [
    ("192.168.1.1", "login"),
    ("192.168.1.2", "purchase"),
    ("192.168.1.1", "view"),
    ("192.168.1.3", "login"),
    ("192.168.1.2", "login"),
    ("192.168.1.1", "purchase")
]

# RDD 생성
log_rdd = sc.parallelize(log_data)