In [84]:
from pyspark.ml.feature import VectorAssembler
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import regexp_extract, col
import re

In [89]:
import os 
cwd = os.getcwd()
wine_data_path= os.path.join(cwd, 'running_spark_data/redwine3.csv')
wine_data_path

'/home/jovyan/work/start_spark/start_spark/running_spark_data/redwine3.csv'

In [90]:
file_path = f"file:///{wine_data_path.replace(os.sep,'/')}"
file_path

'file:////home/jovyan/work/start_spark/start_spark/running_spark_data/redwine3.csv'

In [91]:
from pyspark.sql import SparkSession
MAX_MEMORY ='8g'
spark = SparkSession.builder.appName("practice_wine").config('spark.driver.memory',MAX_MEMORY).config('spark.executer.memory',MAX_MEMORY).getOrCreate()

In [92]:
wine_df = spark.read.csv(wine_data_path, header=True, inferSchema=True)
wine_df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- producer: string (nullable = true)
 |-- nation: string (nullable = true)
 |-- local1: string (nullable = true)
 |-- local2: string (nullable = true)
 |-- local3: string (nullable = true)
 |-- local4: string (nullable = true)
 |-- varieties1: string (nullable = true)
 |-- varieties2: string (nullable = true)
 |-- varieties3: string (nullable = true)
 |-- varieties4: string (nullable = true)
 |-- varieties5: string (nullable = true)
 |-- varieties6: string (nullable = true)
 |-- varieties7: string (nullable = true)
 |-- varieties8: string (nullable = true)
 |-- varieties9: string (nullable = true)
 |-- varieties10: string (nullable = true)
 |-- varieties11: string (nullable = true)
 |-- varieties12: string (nullable = true)
 |-- type: string (nullable = true)
 |-- use: string (nullable = true)
 |-- abv: string (nullable = true)
 |-- degree: string (nullable = true)
 |-- sweet: string (nullable = true)
 |-- acidity: string (nullable = true)
 |-- body: string (nullable = true)
 |-- tannin: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- ml: integer (nullable = true)

In [93]:
from pyspark.sql.functions import regexp_extract, col

wine_df = wine_df.withColumn('sweet', regexp_extract(col('sweet'), r'\d+', 0).cast('int'))
wine_df = wine_df.withColumn('acidity', regexp_extract(col('acidity'), r'\d+', 0).cast('int'))
wine_df = wine_df.withColumn('body', regexp_extract(col('body'), r'\d+', 0).cast('int'))
wine_df = wine_df.withColumn('tannin', regexp_extract(col('tannin'), r'\d+', 0).cast('int'))

In [94]:
from pyspark.sql.functions import col, sum, desc, expr
from functools import reduce

def filter_by_top_n(df, limit_local1, limit_variety):
    """
    지정된 상위 N개 생산지와 품종으로 데이터프레임을 필터링하는 함수.

    :param df: PySpark DataFrame (wine_df)
    :param limit_local1: 상위 생산지 개수
    :param limit_variety: 상위 품종 개수
    :return: 필터링된 DataFrame과 그 개수
    """
    
    print(f"\n--- 생산지 상위 {limit_local1}개, 품종 상위 {limit_variety}개로 필터링 시작 ---")
    
    # 1. 생산지(local1) 상위 목록 추출
    top_local1_list = [
        row.local1 for row in df.groupBy("local1")
                                 .agg(sum("ml").alias("total_ml"))
                                 .orderBy(desc("total_ml"))
                                 .limit(limit_local1)
                                 .collect()
    ]
    
    # 2. 품종(varieties1 ~ varieties12) 상위 목록 추출
    varieties_cols = [f"varieties{i}" for i in range(1, 13)]
    stack_expr = expr("stack(12, " + ", ".join(f"'{c}', `{c}`" for c in varieties_cols) + ") as (col_name, variety)")
    
    top_variety_df = (
        df.select(col("ml"), stack_expr)
        .groupBy("variety")
        .agg(sum("ml").alias("total_ml"))
        .orderBy(desc("total_ml"))
        .filter(col("variety").isNotNull())
        .limit(limit_variety)
    )
    top_variety_list = [row.variety for row in top_variety_df.collect()]
    
    # 3. 필터링 실행
    variety_filter_condition = reduce(
        lambda x, y: x | y, 
        [col(variety).isin(top_variety_list) for variety in varieties_cols]
    )
    filtered_df = df.filter(
        col("local1").isin(top_local1_list) & 
        variety_filter_condition
    )
    
    # 4. 결과 반환
    filtered_count = filtered_df.count()
    return filtered_df, filtered_count

# 사용 예시
# 데이터프레임 'wine_df'는 미리 선언되어 있어야 합니다.



# 예시 3: 생산지 상위 30개, 품종 상위 25개
filtered_df, count_27_30 = filter_by_top_n(wine_df, 27, 30)
print(f"생산지 27개, 품종 30개로 필터링된 데이터 수: {count_27_30}개")

--- 생산지 상위 27개, 품종 상위 30개로 필터링 시작 ---
생산지 27개, 품종 30개로 필터링된 데이터 수: 4313개

In [95]:
wine_df=filtered_df

In [96]:
from pyspark.sql.functions import udf, col
from pyspark.sql.types import FloatType
import re

# UDF(사용자 정의 함수) 생성
# '12~13' 형태의 문자열을 받아 평균값(12.5)을 반환하는 함수입니다.
@udf(FloatType())
def calculate_average_abv(abv_str):
    if abv_str is None:
        return None
    
    # 숫자만 추출하기 위해 ~ 기호로 분리
    parts = abv_str.split('~')
    
    try:
        if len(parts) == 2:
            # '12~13'인 경우: (12+13)/2
            return (float(parts[0]) + float(parts[1])) / 2
        elif len(parts) == 1:
            # '12'인 경우: 12
            return float(parts[0])
        else:
            # 예상치 못한 형식인 경우: None 반환
            return None
    except (ValueError, IndexError):
        # 숫자로 변환할 수 없는 경우 None 반환
        return None

# 'final_clean_df'에 새로운 'numeric_abv' 컬럼 추가
# 기존 abv 컬럼은 유지하고, 변환된 값을 새로운 컬럼에 저장합니다.
final_clean_df_with_numeric_abv = wine_df.withColumn(
    "numeric_abv", 
    calculate_average_abv(col("abv"))
)

# 결과 확인 (원하는 만큼의 행을 보여줍니다)
final_clean_df_with_numeric_abv.select("abv", "numeric_abv").show(10)
final_clean_df_with_numeric_abv.printSchema()

+-----+-----------+
|  abv|numeric_abv|
+-----+-----------+
|14~15|       14.5|
|14~15|       14.5|
|13~14|       13.5|
|13~14|       13.5|
|13~14|       13.5|
|12~13|       12.5|
|12~13|       12.5|
| 13.5|       13.5|
|13~14|       13.5|
|13~14|       13.5|
+-----+-----------+
only showing top 10 rows

root
 |-- _c0: integer (nullable = true)
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- producer: string (nullable = true)
 |-- nation: string (nullable = true)
 |-- local1: string (nullable = true)
 |-- local2: string (nullable = true)
 |-- local3: string (nullable = true)
 |-- local4: string (nullable = true)
 |-- varieties1: string (nullable = true)
 |-- varieties2: string (nullable = true)
 |-- varieties3: string (nullable = true)
 |-- varieties4: string (nullable = true)
 |-- varieties5: string (nullable = true)
 |-- varieties6: string (nullable = true)
 |-- varieties7: string (nullable = true)
 |-- varieties8: string (nullable = true)
 |-- varieties9: string (nullable = true)
 |-- varieties10: string (nullable = true)
 |-- varieties11: string (nullable = true)
 |-- varieties12: string (nullable = true)
 |-- type: string (nullable = true)
 |-- use: string (nullable = true)
 |-- abv: string (nullable = true)
 |-- degree: string (nullable = true)
 |-- sweet: integer (nullable = true)
 |-- acidity: integer (nullable = true)
 |-- body: integer (nullable = true)
 |-- tannin: integer (nullable = true)
 |-- price: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- ml: integer (nullable = true)
 |-- numeric_abv: float (nullable = true)

In [97]:
# 'collect()'를 사용하지 않고 변수에 바로 할당
wine_df = final_clean_df_with_numeric_abv

# 이제 wine_df를 사용하면 numeric_abv 컬럼이 포함된 데이터프레임으로 작업할 수 있습니다.
wine_df.show(5)
wine_df.printSchema()

+---+------+--------------------+--------+------+---------------+--------------------+------+------+------------------+------------------+----------+--------------+--------------+------------+----------+----------+----------+-----------+-----------+-----------+----+-----+-----+------+-----+-------+----+------+------+----+---+-----------+
|_c0|    id|                name|producer|nation|         local1|              local2|local3|local4|        varieties1|        varieties2|varieties3|    varieties4|    varieties5|  varieties6|varieties7|varieties8|varieties9|varieties10|varieties11|varieties12|type|  use|  abv|degree|sweet|acidity|body|tannin| price|year| ml|numeric_abv|
+---+------+--------------------+--------+------+---------------+--------------------+------+------+------------------+------------------+----------+--------------+--------------+------------+----------+----------+----------+-----------+-----------+-----------+----+-----+-----+------+-----+-------+----+------+------+----+---+-----------+
|  0|137197|              Altair|  Altair| Chile|   Rapel Valley|                NULL|  NULL|  NULL|Cabernet Sauvignon|         Carmenere|    Merlot|          NULL|          NULL|        NULL|      NULL|      NULL|      NULL|       NULL|       NULL|       NULL| Red|Table|14~15| 17~19|    1|      4|   5|     4|220000|2014|750|       14.5|
|  1|137198|     Altair, Sideral|  Altair| Chile|   Rapel Valley|                NULL|  NULL|  NULL|Cabernet Sauvignon|            Merlot| Carmenere|Cabernet Franc|Syrah & Shiraz|Petit Verdot|      NULL|      NULL|      NULL|       NULL|       NULL|       NULL| Red|Table|14~15| 16~18|    1|      3|   4|     4|110000|2016|750|       14.5|
|  7|137204|Calvet, Bordeaux Red|  Calvet|France|       Bordeaux|                NULL|  NULL|  NULL|            Merlot|Cabernet Sauvignon|      NULL|          NULL|          NULL|        NULL|      NULL|      NULL|      NULL|       NULL|       NULL|       NULL| Red|Table|13~14| 16~18|    1|      3|   2|     3| 21000|2011|750|       13.5|
|  9|137207|Calvet, Varietals...|  Calvet|France|Southern France|Languedoc Roussillon|  NULL|  NULL|Cabernet Sauvignon|              NULL|      NULL|          NULL|          NULL|        NULL|      NULL|      NULL|      NULL|       NULL|       NULL|       NULL| Red|Table|13~14| 16~18|    1|      3|   2|     3| 19000|2017|750|       13.5|
| 10|137208|Calvet, Varietals...|  Calvet|France|Southern France|Languedoc Roussillon|  NULL|  NULL|            Merlot|              NULL|      NULL|          NULL|          NULL|        NULL|      NULL|      NULL|      NULL|       NULL|       NULL|       NULL| Red|Table|13~14| 16~18|    1|      3|   3|     3| 19000|2011|750|       13.5|
+---+------+--------------------+--------+------+---------------+--------------------+------+------+------------------+------------------+----------+--------------+--------------+------------+----------+----------+----------+-----------+-----------+-----------+----+-----+-----+------+-----+-------+----+------+------+----+---+-----------+
only showing top 5 rows

root
 |-- _c0: integer (nullable = true)
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- producer: string (nullable = true)
 |-- nation: string (nullable = true)
 |-- local1: string (nullable = true)
 |-- local2: string (nullable = true)
 |-- local3: string (nullable = true)
 |-- local4: string (nullable = true)
 |-- varieties1: string (nullable = true)
 |-- varieties2: string (nullable = true)
 |-- varieties3: string (nullable = true)
 |-- varieties4: string (nullable = true)
 |-- varieties5: string (nullable = true)
 |-- varieties6: string (nullable = true)
 |-- varieties7: string (nullable = true)
 |-- varieties8: string (nullable = true)
 |-- varieties9: string (nullable = true)
 |-- varieties10: string (nullable = true)
 |-- varieties11: string (nullable = true)
 |-- varieties12: string (nullable = true)
 |-- type: string (nullable = true)
 |-- use: string (nullable = true)
 |-- abv: string (nullable = true)
 |-- degree: string (nullable = true)
 |-- sweet: integer (nullable = true)
 |-- acidity: integer (nullable = true)
 |-- body: integer (nullable = true)
 |-- tannin: integer (nullable = true)
 |-- price: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- ml: integer (nullable = true)
 |-- numeric_abv: float (nullable = true)

In [98]:
# 'collect()'를 사용하지 않고 변수에 바로 할당
wine_df = final_clean_df_with_numeric_abv

# 이제 wine_df를 사용하면 numeric_abv 컬럼이 포함된 데이터프레임으로 작업할 수 있습니다.
wine_df.show(5)
wine_df.printSchema()

+---+------+--------------------+--------+------+---------------+--------------------+------+------+------------------+------------------+----------+--------------+--------------+------------+----------+----------+----------+-----------+-----------+-----------+----+-----+-----+------+-----+-------+----+------+------+----+---+-----------+
|_c0|    id|                name|producer|nation|         local1|              local2|local3|local4|        varieties1|        varieties2|varieties3|    varieties4|    varieties5|  varieties6|varieties7|varieties8|varieties9|varieties10|varieties11|varieties12|type|  use|  abv|degree|sweet|acidity|body|tannin| price|year| ml|numeric_abv|
+---+------+--------------------+--------+------+---------------+--------------------+------+------+------------------+------------------+----------+--------------+--------------+------------+----------+----------+----------+-----------+-----------+-----------+----+-----+-----+------+-----+-------+----+------+------+----+---+-----------+
|  0|137197|              Altair|  Altair| Chile|   Rapel Valley|                NULL|  NULL|  NULL|Cabernet Sauvignon|         Carmenere|    Merlot|          NULL|          NULL|        NULL|      NULL|      NULL|      NULL|       NULL|       NULL|       NULL| Red|Table|14~15| 17~19|    1|      4|   5|     4|220000|2014|750|       14.5|
|  1|137198|     Altair, Sideral|  Altair| Chile|   Rapel Valley|                NULL|  NULL|  NULL|Cabernet Sauvignon|            Merlot| Carmenere|Cabernet Franc|Syrah & Shiraz|Petit Verdot|      NULL|      NULL|      NULL|       NULL|       NULL|       NULL| Red|Table|14~15| 16~18|    1|      3|   4|     4|110000|2016|750|       14.5|
|  7|137204|Calvet, Bordeaux Red|  Calvet|France|       Bordeaux|                NULL|  NULL|  NULL|            Merlot|Cabernet Sauvignon|      NULL|          NULL|          NULL|        NULL|      NULL|      NULL|      NULL|       NULL|       NULL|       NULL| Red|Table|13~14| 16~18|    1|      3|   2|     3| 21000|2011|750|       13.5|
|  9|137207|Calvet, Varietals...|  Calvet|France|Southern France|Languedoc Roussillon|  NULL|  NULL|Cabernet Sauvignon|              NULL|      NULL|          NULL|          NULL|        NULL|      NULL|      NULL|      NULL|       NULL|       NULL|       NULL| Red|Table|13~14| 16~18|    1|      3|   2|     3| 19000|2017|750|       13.5|
| 10|137208|Calvet, Varietals...|  Calvet|France|Southern France|Languedoc Roussillon|  NULL|  NULL|            Merlot|              NULL|      NULL|          NULL|          NULL|        NULL|      NULL|      NULL|      NULL|       NULL|       NULL|       NULL| Red|Table|13~14| 16~18|    1|      3|   3|     3| 19000|2011|750|       13.5|
+---+------+--------------------+--------+------+---------------+--------------------+------+------+------------------+------------------+----------+--------------+--------------+------------+----------+----------+----------+-----------+-----------+-----------+----+-----+-----+------+-----+-------+----+------+------+----+---+-----------+
only showing top 5 rows

root
 |-- _c0: integer (nullable = true)
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- producer: string (nullable = true)
 |-- nation: string (nullable = true)
 |-- local1: string (nullable = true)
 |-- local2: string (nullable = true)
 |-- local3: string (nullable = true)
 |-- local4: string (nullable = true)
 |-- varieties1: string (nullable = true)
 |-- varieties2: string (nullable = true)
 |-- varieties3: string (nullable = true)
 |-- varieties4: string (nullable = true)
 |-- varieties5: string (nullable = true)
 |-- varieties6: string (nullable = true)
 |-- varieties7: string (nullable = true)
 |-- varieties8: string (nullable = true)
 |-- varieties9: string (nullable = true)
 |-- varieties10: string (nullable = true)
 |-- varieties11: string (nullable = true)
 |-- varieties12: string (nullable = true)
 |-- type: string (nullable = true)
 |-- use: string (nullable = true)
 |-- abv: string (nullable = true)
 |-- degree: string (nullable = true)
 |-- sweet: integer (nullable = true)
 |-- acidity: integer (nullable = true)
 |-- body: integer (nullable = true)
 |-- tannin: integer (nullable = true)
 |-- price: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- ml: integer (nullable = true)
 |-- numeric_abv: float (nullable = true)

In [99]:
wine_df.createOrReplaceTempView('wines')

In [100]:
query = """
SELECT 
    id,
    nation,
    local1,
    varieties1,
    numeric_abv,
    sweet,
    acidity,
    body,
    tannin,
    year,
    price
FROM
    wines

"""

In [101]:
wine_df = spark.sql(query)

In [102]:
wine_df.count()

4313

In [103]:
stages = []

In [104]:
train_df, test_df = wine_df.randomSplit([0.8,0.2], seed=1)

In [126]:
from pyspark.sql.functions import concat, col, lit, log
train_df = train_df.withColumn("local_varieties", concat(col("local1"), lit("_"), col("varieties1")))

In [127]:
train_df = train_df.withColumn("log_price", log(col("price")))

In [130]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler, StandardScaler
from pyspark.ml import Pipeline

cat_features = ['local1', 'varieties1', 'nation']
num_features = ['numeric_abv', 'sweet', 'acidity', 'body', 'tannin','year']
stages = []

# 1. 범주형 특성 전처리: StringIndexer -> OneHotEncoder
for cat in cat_features:
    cat_index = StringIndexer(inputCol=cat, outputCol=cat + '_idx').setHandleInvalid('keep')
    onehot_encode = OneHotEncoder(inputCols=[cat_index.getOutputCol()], outputCols=[cat + '_onehot'])
    stages += [cat_index, onehot_encode]

# 2. 숫자형 특성 전처리: 모든 숫자 컬럼을 하나의 벡터로 통합 후 표준화
num_assembler = VectorAssembler(inputCols=num_features, outputCol="num_features_vector", handleInvalid="keep" )
num_scaler = StandardScaler(inputCol=num_assembler.getOutputCol(), outputCol="scaled_num_features")
stages += [num_assembler, num_scaler]

# 3. 최종 통합: 범주형 원-핫 벡터 + 표준화된 숫자형 벡터를 하나의 'feature_vector'로 합치기
assembler_inputs = [cat + '_onehot' for cat in cat_features] + ['scaled_num_features']
final_assembler = VectorAssembler(inputCols=assembler_inputs, outputCol='feature_vector')
stages.append(final_assembler)

# 4. 파이프라인 구축
pipeline = Pipeline(stages=stages)

# 'train_df' 데이터프레임으로 파이프라인 학습 및 변환
fitted_pipeline = pipeline.fit(train_df)
vtrain_df = fitted_pipeline.transform(train_df)

# 결과 확인
vtrain_df.select('feature_vector').show(5, truncate=False)

+-------------------------------------------------------------------------------------------------------------------------------------------------------------+
|feature_vector                                                                                                                                               |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------+
|(80,[7,27,68,74,75,76,77,78,79],[1.0,1.0,1.0,19.064024069123192,4.748759340599414,6.587695061690929,6.2918683352973,5.22320076392934,421.5980503627161])     |
|(80,[7,27,68,74,75,76,77,78,79],[1.0,1.0,1.0,19.064024069123192,4.748759340599414,4.9407712962681964,5.03349466823784,5.22320076392934,422.0167177414278])   |
|(80,[1,29,65,74,75,76,77,78,79],[1.0,1.0,1.0,17.749263788494005,4.748759340599414,4.9407712962681964,2.51674733411892,3.9174005729470047,420.97004929464845])|
|(80,[9,27,65,74,75,76,77,78,79],[1.0,1.0,1.0,17.749263788494005,4.748759340599414,4.9407712962681964,2.51674733411892,3.9174005729470047,422.2260514307837]) |
|(80,[1,27,65,74,75,76,77,78,79],[1.0,1.0,1.0,16.43450350786482,4.748759340599414,6.587695061690929,3.7751210011783805,3.9174005729470047,421.80738405207194])|
+-------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [131]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages=stages)
fitted_transform = pipeline.fit(train_df)
vtrain_df = fitted_transform.transform(train_df)
vtrain_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- nation: string (nullable = true)
 |-- local1: string (nullable = true)
 |-- varieties1: string (nullable = true)
 |-- numeric_abv: float (nullable = true)
 |-- sweet: integer (nullable = true)
 |-- acidity: integer (nullable = true)
 |-- body: integer (nullable = true)
 |-- tannin: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- price: integer (nullable = true)
 |-- local_varieties: string (nullable = true)
 |-- log_price: double (nullable = true)
 |-- local1_idx: double (nullable = false)
 |-- local1_onehot: vector (nullable = true)
 |-- varieties1_idx: double (nullable = false)
 |-- varieties1_onehot: vector (nullable = true)
 |-- nation_idx: double (nullable = false)
 |-- nation_onehot: vector (nullable = true)
 |-- num_features_vector: vector (nullable = true)
 |-- scaled_num_features: vector (nullable = true)
 |-- feature_vector: vector (nullable = true)

In [132]:
vtrain_df.select('feature_vector').show()

+--------------------+
|      feature_vector|
+--------------------+
|(80,[7,27,68,74,7...|
|(80,[7,27,68,74,7...|
|(80,[1,29,65,74,7...|
|(80,[9,27,65,74,7...|
|(80,[1,27,65,74,7...|
|(80,[1,29,65,74,7...|
|(80,[1,29,65,74,7...|
|(80,[1,29,65,74,7...|
|(80,[1,27,65,74,7...|
|(80,[1,27,65,74,7...|
|(80,[1,27,65,74,7...|
|(80,[1,27,65,74,7...|
|(80,[10,27,68,74,...|
|(80,[11,27,68,74,...|
|(80,[7,36,68,74,7...|
|(80,[0,27,67,74,7...|
|(80,[0,28,67,74,7...|
|(80,[0,27,67,74,7...|
|(80,[0,29,67,74,7...|
|(80,[0,28,67,74,7...|
+--------------------+
only showing top 20 rows

In [133]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression( maxIter=50, solver='normal', labelCol='log_price', featuresCol='feature_vector')

In [134]:
model = lr.fit(vtrain_df)

In [135]:
#테스트데이터 변환
vtest_df = fitted_transform.transform(test_df)
#테스트데이터로 예측
pred=model.transform(vtest_df)

In [136]:
pred.cache()

DataFrame[id: int, nation: string, local1: string, varieties1: string, numeric_abv: float, sweet: int, acidity: int, body: int, tannin: int, year: int, price: int, local1_idx: double, local1_onehot: vector, varieties1_idx: double, varieties1_onehot: vector, nation_idx: double, nation_onehot: vector, num_features_vector: vector, scaled_num_features: vector, feature_vector: vector, prediction: double]

In [153]:
pred.select('price','prediction').show(100)

+------------------+------------------+
|             price|        prediction|
+------------------+------------------+
| 38201.47076367959|10.550629295520501|
|163295.09747805377|12.003314256940563|
| 108269.8524482154| 11.59238202349082|
|179140.74709254914|12.095927072460086|
| 24750.19277541965|10.116588556872347|
| 51285.92267222168| 10.84517158165351|
|43801.198775673845|10.687416465297627|
| 43154.43963729401|10.672540579684597|
|  15466.1803854671| 9.646411008457171|
| 41221.45384752818|10.626714124262254|
| 83490.72732876797| 11.33249085471757|
| 82257.92109562388|11.317614969104547|
| 38916.76382366894| 10.56918038339959|
|15114.109411338039| 9.623383984626717|
| 17888.27911786391| 9.791900979470384|
| 77311.82074105013|11.255602143208456|
|114805.00894396167|11.650990393831801|
| 39617.95881237497|10.587037799803099|
|34086.539305100174|10.436657843554642|
|  71874.8762807544|11.182682056786927|
| 138721.1814474104|11.840221308755858|
|168107.88522328413|12.032361226228058|
|26653.670968627022|10.190682167523335|
|47707.043965257864| 10.77283433820159|
|101798.82217822243|11.530753813073105|
|60966.677734043566|11.018082727242437|
| 141813.0550370332|11.862264955394014|
| 51996.56290272962|10.858932897354563|
|198865.52723598338| 12.20038413275699|
|24935.024989012203| 10.12402872014584|
| 156666.9486237695|  11.9618774847427|
|234577.41161645565|12.365540925896006|
|  48982.9033417997|10.799226604817179|
|  49531.9476438472|10.810373147317698|
| 25366.34569299882|10.141178601737572|
|164125.08356377503|12.008384120752112|
|  65583.5319750179|11.091079906450936|
|  55980.2659125134|10.932754513192378|
|416278.70035879663|12.939110267710785|
| 422517.5035000907|12.953986153323815|
| 58006.94623094256|10.968318044960046|
|24857.343640567473|10.120908506602824|
|119294.08132999353|11.689346995203955|
| 94606.19392631135|11.457478227804735|
|109707.62009394076|11.605574106876773|
| 90660.90385689728|11.414881494188108|
|62213.731605573994| 11.03833101972511|
|30083.364715405114|10.311727630697835|
|42564.645250525915|10.658779263983554|
| 91120.57362072506|11.419938893324307|
|366129.94871963875|12.810743600514314|
|140162.30808064446|11.850556373504983|
|227658.84988210863| 12.33560351495618|
| 90291.38967395318|11.410797382410827|
| 66397.21237724644| 11.10341035231286|
| 104049.6943185886|11.552623893985544|
| 53062.99480652977|10.879235067986052|
| 50029.81090312699| 10.82037432480545|
| 67141.86116664429|11.114562990832631|
| 99452.79862572887|11.507438424919137|
|204060.18769707478| 12.22617026704204|
| 188378.8471275894|12.146210358428096|
|123089.31539210341|11.720665512240661|
| 59243.06293672557|10.989403970906135|
|  104055.426136055|11.552678979775411|
| 67007.64454827053|11.112561989599833|
|  156637.867715639| 11.96169184502893|
| 75534.78863980745|11.232348605798329|
|167052.75084000165| 12.02606491481485|
| 40532.42045399526|10.609857437898281|
|279557.45945055125|12.540963129878257|
|239171.34086698666|12.384935481451546|
|163527.44062507246|12.004736087806386|
|  148721.073669853|11.909827841773872|
|107514.49021233886|11.585380910139058|
|192800.44738577708|12.169410981621539|
|210753.44715409828| 12.25844423233341|
|114805.00894396167|11.650990393831801|
|107514.49021233886|11.585380910139058|
|49989.582681859574|10.819569916340356|
|31653.516396084164| 10.36260452396279|
| 77227.54849513693| 11.25451151815048|
| 50599.16785426662|10.831690409572474|
|130568.71489989643|11.779654918122635|
|143962.20209977296|11.877306058684567|
|188732.16313500752| 12.14808416269889|
| 266057.0253241456|12.491465945705372|
|100367.45564638209|11.516593286744403|
| 278264.7997073736|12.536328456249382|
|121271.80487202707|11.705789626627634|
|313275.90901153785|12.654839579670128|
|117967.27368950991|11.678162523367181|
|397401.59168619604|12.892702614341445|
|312781.15533970366|12.653259040760812|
|114955.32121433067|11.652298820675632|
|44994.424274465026|10.714293856063708|
| 38470.74301188724|10.557653309619802|
| 52127.20085244013|10.861442180798534|
| 49727.09529619108|10.814305240515473|
| 70401.65539751397|11.161972056038913|
+------------------+------------------+
only showing top 100 rows

In [159]:
from pyspark.sql.functions import exp, col

#    'prediction' 컬럼에는 log(price) 값이 들어있습니다.
predictions = model.transform(vtrain_df)

predictions_with_actual_price = predictions.withColumn(
    "predicted_price", exp(col("prediction"))
)

# 3. 원본 가격('price')과 변환된 예측 가격('predicted_price')을 비교합니다.
predictions_with_actual_price.select('price', 'predicted_price').show(100)

+-------+------------------+
|  price|   predicted_price|
+-------+------------------+
| 220000| 130439.8940636943|
| 110000| 76572.32005355523|
|  21000| 37147.60905914579|
|  19000|21470.589002829445|
|  32000| 40105.77915669666|
|  42000| 19842.44018797328|
| 250000|109005.01222748561|
|  85000| 59624.86898380512|
|  50000|  91158.1742206005|
|  50000| 64196.98316877035|
| 140000|110762.06260660842|
|  80000| 53573.05980432169|
|  22000|24058.467383660784|
| 100000|56494.356325766275|
| 100000| 78773.91574301699|
|  55000| 274663.5856330464|
|  59000|144348.32119475916|
|  70000|117133.91907120902|
|  70000| 96720.56685726205|
|  70000| 94754.62772647839|
|  22500|49832.861181496264|
|  32000|43801.198775673845|
|  36000|51228.792769452826|
|  34000|40905.554288204534|
|  26000| 35251.46185160333|
|  98000|110762.06260660842|
|  17000|14924.710665574372|
|  17000|21992.275076885442|
| 190000| 146868.1929165762|
| 260000|101050.85124349206|
|  39000| 36564.97642757277|
|  40000|32415.225557788468|
| 180000|126913.68515210324|
|  19000|20326.558482685214|
|  17000|37363.445815717554|
|  22000| 32903.74315153992|
|  22000|22298.120101556113|
|  30000| 49252.16722544715|
|  40000|65002.962065873675|
|  30000| 40763.66177140253|
|  42000|55760.856933505616|
| 110000|  244717.135870394|
|  25000|42602.143204016684|
| 130000|237543.60932929104|
| 230000| 297437.9572345461|
|  27000|31945.020967437853|
|  14000|20002.395877743056|
|  14000|13755.499646627819|
|  40000| 38065.00555555834|
|  25000| 16067.90119981952|
|  25000|27322.967560194353|
|  27000| 33356.02731658196|
|  20000|14255.392572160607|
|  50000| 51047.71516559175|
|  50000|48648.430944052816|
| 140000|104177.16772884587|
|  70000| 59704.13812108968|
|  35000|43001.902321791764|
|  35000|50894.830148197885|
| 100000|  71721.7618218088|
|  45000| 88343.61027265221|
|  60000|104925.04801168203|
|  18000|  38624.5073718465|
|  39000| 45800.21764369434|
|1100000|215088.00378628023|
|  38000| 80786.22140760461|
|  99000| 79038.60017447508|
|  20000| 16935.52837434673|
|  15000|35041.380665037585|
|  45000| 54861.99037423537|
|  25000|50318.016019821785|
| 120000|117239.91608909913|
|  22000| 27098.92593369174|
|  17000|12988.395880113672|
|  25000| 31990.96103743534|
|  28000| 30323.83236689616|
|  25000|  34931.5960664922|
|  22000| 32460.44986506353|
| 175000|417164.09462956374|
| 240000| 252283.7745881394|
| 240000| 194687.0366953362|
| 600000|377744.47868921154|
| 360000|377744.47868921154|
| 350000|377744.47868921154|
| 650000|377744.47868921154|
| 500000|377744.47868921154|
| 750000| 553913.7442667737|
|1050000| 194687.0366953362|
|  70000| 74926.72834152577|
|  60000| 83734.62546452275|
|  36000|127091.32745334163|
|  36000| 87399.76553604525|
|  26000|40905.554288204534|
|  42000|102655.23963845467|
|  66000|223260.30974329117|
|  31000|110638.67931666283|
| 790000| 170852.3157598868|
|  30000|51228.792769452826|
|  40000| 46538.47075821001|
|  99000| 156461.3690412993|
+-------+------------------+
only showing top 100 rows

In [158]:
model.summary.r2, model.summary.rootMeanSquaredError

(0.6330783435756964, 0.5819334061708843)

In [160]:
# 추가로 임포트할 RandomForestRegressor
from pyspark.ml.regression import RandomForestRegressor

In [175]:
# 1. RandomForestRegressor 모델 객체 생성
# labelCol에는 로그 변환된 'log_price' 컬럼을 사용합니다.
rf = RandomForestRegressor(featuresCol='feature_vector', labelCol='log_price')

# 2. 파이프라인에 RandomForestRegressor 추가
# 기존 파이프라인의 LinearRegression을 RandomForestRegressor로 교체합니다.
stages_for_rf = stages + [rf]  # stages는 이전 답변에서 만들었던 리스트입니다.
rf_pipeline = Pipeline(stages=stages_for_rf)

# 3. 파이프라인 학습
rf_model = rf_pipeline.fit(train_df)

# 4. 테스트 데이터셋에 적용 및 예측
predictions = rf_model.transform(test_df)

# 5. 예측값(로그 스케일)을 실제 가격으로 변환
predict = predictions.withColumn(
    "predicted_price", exp(col("prediction"))
)

# 6. 결과 확인
predict.select('price', 'predicted_price').show(10)

+------+------------------+
| price|   predicted_price|
+------+------------------+
| 19000| 47045.67147696839|
|120000| 127136.2078764992|
|130000| 90459.95144947125|
|450000|193976.61392386054|
| 22000|32611.101444659173|
| 45000|51530.312728379446|
| 45000| 47045.67147696839|
| 45000| 47045.67147696839|
| 17000|45865.567289922925|
| 50000| 73138.34580027279|
+------+------------------+
only showing top 10 rows

In [172]:
from pyspark.ml.evaluation import RegressionEvaluator
evaluator = RegressionEvaluator(
    labelCol="log_price", predictionCol="prediction", metricName="r2"
)

In [171]:
# 1. 모델이 예측한 predictions 데이터프레임에 'price' 컬럼을 로그 변환하여 'log_price' 컬럼을 추가합니다.
predictions_with_log_price = predictions.withColumn("log_price", log(col("price")))

# 2. RegressionEvaluator를 사용하여 R²를 계산합니다.
#    이제 predictions_with_log_price에는 'log_price' 컬럼이 존재합니다.
evaluator = RegressionEvaluator(
    labelCol="log_price", predictionCol="prediction", metricName="r2"
)

r2_score = evaluator.evaluate(predictions_with_log_price)

print(f"Random Forest 모델의 R-squared 값: {r2_score}")

Random Forest 모델의 R-squared 값: 0.5569821904715906