In [1]:
from pyspark import SparkConf, SparkContext
conf = SparkConf().setMaster("local").setAppName("spark_sql_basic2")
sc   = SparkContext(conf=conf)

In [2]:
movies_rdd = sc.parallelize([
    (1, ("어벤져스", "마블")),
    (2, ("슈퍼맨", "DC")),
    (3, ("배트맨", "DC")),
    (4, ("겨울왕국", "디즈니")),
    (5, ("아이언맨", "마블"))
])


attendances_rdd = sc.parallelize([
    (1, (13934592, "KR")), #관객수
    (2, (2182227,"KR")),
    (3, (4226242, "KR")),
    (4, (10303058, "KR")),
    (5, (4300365, "KR"))
])

In [3]:
movie_att = movies_rdd.join(attendances_rdd)
movie_att.take(5)

[(2, (('슈퍼맨', 'DC'), (2182227, 'KR'))),
 (4, (('겨울왕국', '디즈니'), (10303058, 'KR'))),
 (1, (('어벤져스', '마블'), (13934592, 'KR'))),
 (3, (('배트맨', 'DC'), (4226242, 'KR'))),
 (5, (('아이언맨', '마블'), (4300365, 'KR')))]

In [4]:
movie_att.filter(
    lambda x : x[1][0][1] == "마블" and x[1][1][0] > 5000000
).collect()

[(1, (('어벤져스', '마블'), (13934592, 'KR')))]

In [5]:
filtered_movies = movies_rdd.filter(lambda x : x[1][1] == '마블')
filtered_att = attendances_rdd.filter(lambda x : x[1][0] > 5000000)

filtered_movies.join(filtered_att).collect()

[(1, (('어벤져스', '마블'), (13934592, 'KR')))]

In [65]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").appName("spark-sql").getOrCreate()
spark

In [7]:
# 컬럼 추가
movies = [
    (1, "어벤져스", "마블", 2012, 4, 26),
    (2, "슈퍼맨", "DC", 2013, 6, 13),
    (3, "배트맨", "DC", 2008, 8, 6),
    (4, "겨울왕국", "디즈니", 2014, 1, 16),
    (5, "아이언맨", "마블", 2008, 4, 30)
]

In [8]:
#스키마를 알아야 한다.
movie_schema = ["id", "name", "company", "year", "month", "day"]

In [9]:
df = spark.createDataFrame(data=movies, schema=movie_schema)

In [10]:
df.columns

['id', 'name', 'company', 'year', 'month', 'day']

In [11]:
print(df.show(3))

+---+--------+-------+----+-----+---+
| id|    name|company|year|month|day|
+---+--------+-------+----+-----+---+
|  1|어벤져스|   마블|2012|    4| 26|
|  2|  슈퍼맨|     DC|2013|    6| 13|
|  3|  배트맨|     DC|2008|    8|  6|
+---+--------+-------+----+-----+---+
only showing top 3 rows

None

In [12]:
df.select('company').show() #projection

+-------+
|company|
+-------+
|   마블|
|     DC|
|     DC|
| 디즈니|
|   마블|
+-------+

In [13]:
df.select("name").show()

+--------+
|    name|
+--------+
|어벤져스|
|  슈퍼맨|
|  배트맨|
|겨울왕국|
|아이언맨|
+--------+

In [14]:
df.filter(df.year >= 2010).show() #where

+---+--------+-------+----+-----+---+
| id|    name|company|year|month|day|
+---+--------+-------+----+-----+---+
|  1|어벤져스|   마블|2012|    4| 26|
|  2|  슈퍼맨|     DC|2013|    6| 13|
|  4|겨울왕국| 디즈니|2014|    1| 16|
+---+--------+-------+----+-----+---+

In [18]:
day_df=df.select(df.name, df.year, df.month, df.day) #년,월,일
day_df.show()

+--------+----+-----+---+
|    name|year|month|day|
+--------+----+-----+---+
|어벤져스|2012|    4| 26|
|  슈퍼맨|2013|    6| 13|
|  배트맨|2008|    8|  6|
|겨울왕국|2014|    1| 16|
|아이언맨|2008|    4| 30|
+--------+----+-----+---+

In [15]:
df.filter(df.year >= 2013).show() #where

+---+--------+-------+----+-----+---+
| id|    name|company|year|month|day|
+---+--------+-------+----+-----+---+
|  2|  슈퍼맨|     DC|2013|    6| 13|
|  4|겨울왕국| 디즈니|2014|    1| 16|
+---+--------+-------+----+-----+---+

In [26]:
# 마블영화, DC 같이 꺼내기
md_df = df.where((df.company == '마블') | (df.company == 'DC'))
md_df.show()

+---+--------+-------+----+-----+---+
| id|    name|company|year|month|day|
+---+--------+-------+----+-----+---+
|  1|어벤져스|   마블|2012|    4| 26|
|  2|  슈퍼맨|     DC|2013|    6| 13|
|  3|  배트맨|     DC|2008|    8|  6|
|  5|아이언맨|   마블|2008|    4| 30|
+---+--------+-------+----+-----+---+

In [31]:
#직접 스키마 지정해보기
from pyspark.sql.types import StringType, FloatType, IntegerType, ShortType, StructField, StructType

In [32]:
att_schema = StructType()

In [37]:
#df와 join
#query = '''
#select movies.id , movies.name, movices.company, att.att
#from movies
#join att On movies.id = att.id
#'''

#spark.sql(query).show()

In [38]:
emp_df = spark.read.format('csv').option('header', 'true').option('inferSchema', 'true').load("/home/jovyan/work/start_spark/start_spark/running_spark_data/fhvhv_tripdata_2020-03.csv")

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0005|              B02510|2020-03-01 00:03:40|2020-03-01 00:23:39|          81|         159|   NULL|
|           HV0005|              B02510|2020-03-01 00:28:05|2020-03-01 00:38:57|         168|         119|   NULL|
|           HV0003|              B02764|2020-03-01 00:03:07|2020-03-01 00:15:04|         137|         209|      1|
|           HV0003|              B02764|2020-03-01 00:18:42|2020-03-01 00:38:42|         209|          80|   NULL|
|           HV0003|              B02764|2020-03-01 00:44:24|2020-03-01 00:58:44|         256|         226|   NULL|
|           HV0003|              B02682|2020-03-01 00:17:23|2020-03-01 00:39:35|          79|         263|   NULL|
|           HV0003|              B02764|2020-03-01 00:01:18|2020-03-01 00:38:52|          61|          29|   NULL|
|           HV0003|              B02764|2020-03-01 00:43:27|2020-03-01 00:47:27|         150|         150|      1|
|           HV0003|              B02764|2020-03-01 00:52:23|2020-03-01 01:00:15|         150|         210|   NULL|
|           HV0003|              B02764|2020-03-01 00:19:49|2020-03-01 00:23:40|          60|         167|   NULL|
|           HV0003|              B02764|2020-03-01 00:29:34|2020-03-01 00:39:19|          47|         213|   NULL|
|           HV0003|              B02764|2020-03-01 00:41:44|2020-03-01 00:58:13|         213|         235|   NULL|
|           HV0003|              B02765|2020-03-01 00:11:26|2020-03-01 00:24:46|         243|         153|   NULL|
|           HV0003|              B02765|2020-03-01 00:28:05|2020-03-01 00:38:56|         127|          18|   NULL|
|           HV0003|              B02765|2020-03-01 00:44:28|2020-03-01 00:52:09|          18|         169|   NULL|
|           HV0003|              B02765|2020-03-01 00:56:50|2020-03-01 00:59:26|          94|         169|   NULL|
|           HV0003|              B02764|2020-03-01 00:56:14|2020-03-01 01:03:38|         211|         158|   NULL|
|           HV0003|              B02764|2020-03-01 00:14:15|2020-03-01 00:26:47|         246|         107|   NULL|
|           HV0003|              B02764|2020-03-01 00:31:38|2020-03-01 00:58:07|         234|           9|   NULL|
|           HV0005|              B02510|2020-03-01 00:26:31|2020-03-01 00:38:07|         139|          10|      1|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [42]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("trip_count_sql").getOrCreate()

In [43]:
trip_file = "/home/jovyan/work/start_spark/start_spark/running_spark_data/fhvhv_tripdata_2020-03.csv"

In [44]:
data = spark.read.csv(trip_file, inferSchema=True, header=True)

In [45]:
data.createOrReplaceTempView("mobility_data")

In [52]:
query = """
select *
from mobility_data
limit 5
"""
spark.sql(query).show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0005|              B02510|2020-03-01 00:03:40|2020-03-01 00:23:39|          81|         159|   NULL|
|           HV0005|              B02510|2020-03-01 00:28:05|2020-03-01 00:38:57|         168|         119|   NULL|
|           HV0003|              B02764|2020-03-01 00:03:07|2020-03-01 00:15:04|         137|         209|      1|
|           HV0003|              B02764|2020-03-01 00:18:42|2020-03-01 00:38:42|         209|          80|   NULL|
|           HV0003|              B02764|2020-03-01 00:44:24|2020-03-01 00:58:44|         256|         226|   NULL|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+

In [53]:
query = """

select split(pickup_datetime, ' ')[0] as pickup_date, count(*) as trips
from mobility_data

group by pickup_date
"""

spark.sql(query).show()

+-----------+------+
|pickup_date| trips|
+-----------+------+
| 2020-03-03|697880|
| 2020-03-02|648986|
| 2020-03-01|784246|
| 2020-03-06|872012|
| 2020-03-05|731165|
| 2020-03-04|707879|
| 2020-03-09|628940|
| 2020-03-08|731222|
| 2020-03-07|886071|
| 2020-03-10|626474|
| 2020-03-12|643257|
| 2020-03-11|628601|
| 2020-03-16|391518|
| 2020-03-13|660914|
| 2020-03-15|448125|
| 2020-03-14|569397|
| 2020-03-26|141607|
| 2020-03-25|141088|
| 2020-03-20|261900|
| 2020-03-24|141686|
+-----------+------+
only showing top 20 rows

In [51]:
spark.sql(query).explain(True)

== Parsed Logical Plan ==
'Aggregate ['pickup_date], ['split('pickup_datetime,  )[0] AS pickup_date#431, 'count(1) AS trips#432]
+- 'UnresolvedRelation [mobility_data], [], false

== Analyzed Logical Plan ==
pickup_date: string, trips: bigint
Aggregate [split(cast(pickup_datetime#340 as string),  , -1)[0]], [split(cast(pickup_datetime#340 as string),  , -1)[0] AS pickup_date#431, count(1) AS trips#432L]
+- SubqueryAlias mobility_data
   +- View (`mobility_data`, [hvfhs_license_num#338,dispatching_base_num#339,pickup_datetime#340,dropoff_datetime#341,PULocationID#342,DOLocationID#343,SR_Flag#344])
      +- Relation [hvfhs_license_num#338,dispatching_base_num#339,pickup_datetime#340,dropoff_datetime#341,PULocationID#342,DOLocationID#343,SR_Flag#344] csv

== Optimized Logical Plan ==
Aggregate [_groupingexpression#436], [_groupingexpression#436 AS pickup_date#431, count(1) AS trips#432L]
+- Project [split(cast(pickup_datetime#340 as string),  , -1)[0] AS _groupingexpression#436]
   +- Relation [hvfhs_license_num#338,dispatching_base_num#339,pickup_datetime#340,dropoff_datetime#341,PULocationID#342,DOLocationID#343,SR_Flag#344] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[_groupingexpression#436], functions=[count(1)], output=[pickup_date#431, trips#432L])
   +- Exchange hashpartitioning(_groupingexpression#436, 200), ENSURE_REQUIREMENTS, [plan_id=342]
      +- HashAggregate(keys=[_groupingexpression#436], functions=[partial_count(1)], output=[_groupingexpression#436, count#438L])
         +- Project [split(cast(pickup_datetime#340 as string),  , -1)[0] AS _groupingexpression#436]
            +- FileScan csv [pickup_datetime#340] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/work/start_spark/start_spark/running_spark_data/fhvh..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<pickup_datetime:timestamp>

In [54]:
spark.sql("""select 
                pickup_date, 
                count(*) as trips
             from ( select
                          split(pickup_datetime, ' ')[0] as pickup_date
                          from mobility_data )
             group by pickup_date""").explain(True)

== Parsed Logical Plan ==
'Aggregate ['pickup_date], ['pickup_date, 'count(1) AS trips#501]
+- 'SubqueryAlias __auto_generated_subquery_name
   +- 'Project ['split('pickup_datetime,  )[0] AS pickup_date#500]
      +- 'UnresolvedRelation [mobility_data], [], false

== Analyzed Logical Plan ==
pickup_date: string, trips: bigint
Aggregate [pickup_date#500], [pickup_date#500, count(1) AS trips#501L]
+- SubqueryAlias __auto_generated_subquery_name
   +- Project [split(cast(pickup_datetime#340 as string),  , -1)[0] AS pickup_date#500]
      +- SubqueryAlias mobility_data
         +- View (`mobility_data`, [hvfhs_license_num#338,dispatching_base_num#339,pickup_datetime#340,dropoff_datetime#341,PULocationID#342,DOLocationID#343,SR_Flag#344])
            +- Relation [hvfhs_license_num#338,dispatching_base_num#339,pickup_datetime#340,dropoff_datetime#341,PULocationID#342,DOLocationID#343,SR_Flag#344] csv

== Optimized Logical Plan ==
Aggregate [pickup_date#500], [pickup_date#500, count(1) AS trips#501L]
+- Project [split(cast(pickup_datetime#340 as string),  , -1)[0] AS pickup_date#500]
   +- Relation [hvfhs_license_num#338,dispatching_base_num#339,pickup_datetime#340,dropoff_datetime#341,PULocationID#342,DOLocationID#343,SR_Flag#344] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[pickup_date#500], functions=[count(1)], output=[pickup_date#500, trips#501L])
   +- Exchange hashpartitioning(pickup_date#500, 200), ENSURE_REQUIREMENTS, [plan_id=421]
      +- HashAggregate(keys=[pickup_date#500], functions=[partial_count(1)], output=[pickup_date#500, count#506L])
         +- Project [split(cast(pickup_datetime#340 as string),  , -1)[0] AS pickup_date#500]
            +- FileScan csv [pickup_datetime#340] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/work/start_spark/start_spark/running_spark_data/fhvh..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<pickup_datetime:timestamp>

In [63]:
spark.stop()

In [56]:
#운형, zone 데이터 조인

In [ ]:
taxi+_zone_lookup.csv

In [57]:
trip_file = 'fhvhv_tripdata_2020-03.csv'

In [58]:
zone_file='taxi+_zone_lookup.csv'

In [66]:
trip_df = spark.read.format('csv').option('header', 'true').option('inferSchema', 'true').load("/home/jovyan/work/start_spark/start_spark/running_spark_data/fhvhv_tripdata_2020-03.csv")

In [67]:
zone_df = spark.read.format('csv').option('header', 'true').option('inferSchema', 'true').load("/home/jovyan/work/start_spark/start_spark/running_spark_data/taxi+_zone_lookup.csv")

In [69]:
trip_df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0005|              B02510|2020-03-01 00:03:40|2020-03-01 00:23:39|          81|         159|   NULL|
|           HV0005|              B02510|2020-03-01 00:28:05|2020-03-01 00:38:57|         168|         119|   NULL|
|           HV0003|              B02764|2020-03-01 00:03:07|2020-03-01 00:15:04|         137|         209|      1|
|           HV0003|              B02764|2020-03-01 00:18:42|2020-03-01 00:38:42|         209|          80|   NULL|
|           HV0003|              B02764|2020-03-01 00:44:24|2020-03-01 00:58:44|         256|         226|   NULL|
|           HV0003|              B02682|2020-03-01 00:17:23|2020-03-01 00:39:35|          79|         263|   NULL|
|           HV0003|              B02764|2020-03-01 00:01:18|2020-03-01 00:38:52|          61|          29|   NULL|
|           HV0003|              B02764|2020-03-01 00:43:27|2020-03-01 00:47:27|         150|         150|      1|
|           HV0003|              B02764|2020-03-01 00:52:23|2020-03-01 01:00:15|         150|         210|   NULL|
|           HV0003|              B02764|2020-03-01 00:19:49|2020-03-01 00:23:40|          60|         167|   NULL|
|           HV0003|              B02764|2020-03-01 00:29:34|2020-03-01 00:39:19|          47|         213|   NULL|
|           HV0003|              B02764|2020-03-01 00:41:44|2020-03-01 00:58:13|         213|         235|   NULL|
|           HV0003|              B02765|2020-03-01 00:11:26|2020-03-01 00:24:46|         243|         153|   NULL|
|           HV0003|              B02765|2020-03-01 00:28:05|2020-03-01 00:38:56|         127|          18|   NULL|
|           HV0003|              B02765|2020-03-01 00:44:28|2020-03-01 00:52:09|          18|         169|   NULL|
|           HV0003|              B02765|2020-03-01 00:56:50|2020-03-01 00:59:26|          94|         169|   NULL|
|           HV0003|              B02764|2020-03-01 00:56:14|2020-03-01 01:03:38|         211|         158|   NULL|
|           HV0003|              B02764|2020-03-01 00:14:15|2020-03-01 00:26:47|         246|         107|   NULL|
|           HV0003|              B02764|2020-03-01 00:31:38|2020-03-01 00:58:07|         234|           9|   NULL|
|           HV0005|              B02510|2020-03-01 00:26:31|2020-03-01 00:38:07|         139|          10|      1|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [72]:
zone_df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [86]:
#승자 location(PULOCATIOJ)별 개수새기
#하자 locationPULOCATIOJ) 별 개수새기
#HV0003 운송사업자의 승차 지역별 트립 건수를 집계하고,
# 가장 많은 운송사업자 순으로 정렬하는 분석 쿼리 hvfhs_license_num
#운송사별 운행건수 비교
#승차위치 borough별 운행건수
#서비스 존별 승차/하차 건수

In [76]:
tripzone_df = trip_df.join(zone_df, zone_df['LocationID']==trip_df['PULocationID'])

In [78]:
tripzone_df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+----------+---------+--------------------+------------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|LocationID|  Borough|                Zone|service_zone|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+----------+---------+--------------------+------------+
|           HV0005|              B02510|2020-03-01 00:03:40|2020-03-01 00:23:39|          81|         159|   NULL|        81|    Bronx|         Eastchester|   Boro Zone|
|           HV0005|              B02510|2020-03-01 00:28:05|2020-03-01 00:38:57|         168|         119|   NULL|       168|    Bronx|Mott Haven/Port M...|   Boro Zone|
|           HV0003|              B02764|2020-03-01 00:03:07|2020-03-01 00:15:04|         137|         209|      1|       137|Manhattan|            Kips Bay| Yellow Zone|
|           HV0003|              B02764|2020-03-01 00:18:42|2020-03-01 00:38:42|         209|          80|   NULL|       209|Manhattan|             Seaport| Yellow Zone|
|           HV0003|              B02764|2020-03-01 00:44:24|2020-03-01 00:58:44|         256|         226|   NULL|       256| Brooklyn|Williamsburg (Sou...|   Boro Zone|
|           HV0003|              B02682|2020-03-01 00:17:23|2020-03-01 00:39:35|          79|         263|   NULL|        79|Manhattan|        East Village| Yellow Zone|
|           HV0003|              B02764|2020-03-01 00:01:18|2020-03-01 00:38:52|          61|          29|   NULL|        61| Brooklyn| Crown Heights North|   Boro Zone|
|           HV0003|              B02764|2020-03-01 00:43:27|2020-03-01 00:47:27|         150|         150|      1|       150| Brooklyn|     Manhattan Beach|   Boro Zone|
|           HV0003|              B02764|2020-03-01 00:52:23|2020-03-01 01:00:15|         150|         210|   NULL|       150| Brooklyn|     Manhattan Beach|   Boro Zone|
|           HV0003|              B02764|2020-03-01 00:19:49|2020-03-01 00:23:40|          60|         167|   NULL|        60|    Bronx|   Crotona Park East|   Boro Zone|
|           HV0003|              B02764|2020-03-01 00:29:34|2020-03-01 00:39:19|          47|         213|   NULL|        47|    Bronx|  Claremont/Bathgate|   Boro Zone|
|           HV0003|              B02764|2020-03-01 00:41:44|2020-03-01 00:58:13|         213|         235|   NULL|       213|    Bronx|Soundview/Castle ...|   Boro Zone|
|           HV0003|              B02765|2020-03-01 00:11:26|2020-03-01 00:24:46|         243|         153|   NULL|       243|Manhattan|Washington Height...|   Boro Zone|
|           HV0003|              B02765|2020-03-01 00:28:05|2020-03-01 00:38:56|         127|          18|   NULL|       127|Manhattan|              Inwood|   Boro Zone|
|           HV0003|              B02765|2020-03-01 00:44:28|2020-03-01 00:52:09|          18|         169|   NULL|        18|    Bronx|        Bedford Park|   Boro Zone|
|           HV0003|              B02765|2020-03-01 00:56:50|2020-03-01 00:59:26|          94|         169|   NULL|        94|    Bronx|       Fordham South|   Boro Zone|
|           HV0003|              B02764|2020-03-01 00:56:14|2020-03-01 01:03:38|         211|         158|   NULL|       211|Manhattan|                SoHo| Yellow Zone|
|           HV0003|              B02764|2020-03-01 00:14:15|2020-03-01 00:26:47|         246|         107|   NULL|       246|Manhattan|West Chelsea/Huds...| Yellow Zone|
|           HV0003|              B02764|2020-03-01 00:31:38|2020-03-01 00:58:07|         234|           9|   NULL|       234|Manhattan|            Union Sq| Yellow Zone|
|           HV0005|              B02510|2020-03-01 00:26:31|2020-03-01 00:38:07|         139|          10|      1|       139|   Queens|           Laurelton|   Boro Zone|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+----------+---------+--------------------+------------+
only showing top 20 rows

In [87]:
location_counts = trip_df.groupBy('PULocationID').count()
location_counts.show()

+------------+------+
|PULocationID| count|
+------------+------+
|         148|116205|
|         243| 87431|
|          31|  5285|
|         137| 85552|
|          85| 46120|
|         251|  9080|
|          65| 66622|
|         255|113947|
|          53| 17571|
|         133| 27200|
|          78| 76155|
|         108| 20378|
|         155| 39527|
|         211| 61075|
|         193| 20111|
|          34| 11823|
|         115| 10806|
|         126| 52833|
|         101|  8983|
|          81| 41425|
+------------+------+
only showing top 20 rows

 location_counts = trip_df.groupBy('DOLocationID').count()
location_counts.show()

In [91]:
location_counts = trip_df.groupBy('DOLocationID').count() 
location_counts.show()

+------------+------+
|DOLocationID| count|
+------------+------+
|         148| 91601|
|         243| 86795|
|          31|  5526|
|          85| 44509|
|         137| 80098|
|         251|  8525|
|          65| 58888|
|         255|105051|
|          53| 19013|
|         133| 27760|
|          78| 74447|
|         155| 42239|
|         108| 21354|
|         211| 54176|
|         193| 19104|
|          34| 12392|
|         115|  9809|
|         101|  7218|
|         126| 59027|
|          81| 38445|
+------------+------+
only showing top 20 rows

In [127]:
tz_df=tripzone_df.filter(tripzone_df.hvfhs_license_num =="HV0003")

In [128]:
tz_df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+----------+---------+--------------------+------------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|LocationID|  Borough|                Zone|service_zone|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+----------+---------+--------------------+------------+
|           HV0003|              B02764|2020-03-01 00:03:07|2020-03-01 00:15:04|         137|         209|      1|       137|Manhattan|            Kips Bay| Yellow Zone|
|           HV0003|              B02764|2020-03-01 00:18:42|2020-03-01 00:38:42|         209|          80|   NULL|       209|Manhattan|             Seaport| Yellow Zone|
|           HV0003|              B02764|2020-03-01 00:44:24|2020-03-01 00:58:44|         256|         226|   NULL|       256| Brooklyn|Williamsburg (Sou...|   Boro Zone|
|           HV0003|              B02682|2020-03-01 00:17:23|2020-03-01 00:39:35|          79|         263|   NULL|        79|Manhattan|        East Village| Yellow Zone|
|           HV0003|              B02764|2020-03-01 00:01:18|2020-03-01 00:38:52|          61|          29|   NULL|        61| Brooklyn| Crown Heights North|   Boro Zone|
|           HV0003|              B02764|2020-03-01 00:43:27|2020-03-01 00:47:27|         150|         150|      1|       150| Brooklyn|     Manhattan Beach|   Boro Zone|
|           HV0003|              B02764|2020-03-01 00:52:23|2020-03-01 01:00:15|         150|         210|   NULL|       150| Brooklyn|     Manhattan Beach|   Boro Zone|
|           HV0003|              B02764|2020-03-01 00:19:49|2020-03-01 00:23:40|          60|         167|   NULL|        60|    Bronx|   Crotona Park East|   Boro Zone|
|           HV0003|              B02764|2020-03-01 00:29:34|2020-03-01 00:39:19|          47|         213|   NULL|        47|    Bronx|  Claremont/Bathgate|   Boro Zone|
|           HV0003|              B02764|2020-03-01 00:41:44|2020-03-01 00:58:13|         213|         235|   NULL|       213|    Bronx|Soundview/Castle ...|   Boro Zone|
|           HV0003|              B02765|2020-03-01 00:11:26|2020-03-01 00:24:46|         243|         153|   NULL|       243|Manhattan|Washington Height...|   Boro Zone|
|           HV0003|              B02765|2020-03-01 00:28:05|2020-03-01 00:38:56|         127|          18|   NULL|       127|Manhattan|              Inwood|   Boro Zone|
|           HV0003|              B02765|2020-03-01 00:44:28|2020-03-01 00:52:09|          18|         169|   NULL|        18|    Bronx|        Bedford Park|   Boro Zone|
|           HV0003|              B02765|2020-03-01 00:56:50|2020-03-01 00:59:26|          94|         169|   NULL|        94|    Bronx|       Fordham South|   Boro Zone|
|           HV0003|              B02764|2020-03-01 00:56:14|2020-03-01 01:03:38|         211|         158|   NULL|       211|Manhattan|                SoHo| Yellow Zone|
|           HV0003|              B02764|2020-03-01 00:14:15|2020-03-01 00:26:47|         246|         107|   NULL|       246|Manhattan|West Chelsea/Huds...| Yellow Zone|
|           HV0003|              B02764|2020-03-01 00:31:38|2020-03-01 00:58:07|         234|           9|   NULL|       234|Manhattan|            Union Sq| Yellow Zone|
|           HV0003|              B02864|2020-03-01 00:34:00|2020-03-01 00:46:26|         213|          74|   NULL|       213|    Bronx|Soundview/Castle ...|   Boro Zone|
|           HV0003|              B02864|2020-03-01 00:49:58|2020-03-01 01:02:52|          74|         247|   NULL|        74|Manhattan|   East Harlem North|   Boro Zone|
|           HV0003|              B02764|2020-03-01 00:06:43|2020-03-01 00:15:55|         148|           4|   NULL|       148|Manhattan|     Lower East Side| Yellow Zone|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+----------+---------+--------------------+------------+
only showing top 20 rows

In [106]:
from pyspark.sql.functions import first, last, min, max, sum, avg,mean, col, count, Column, round, std, desc, rank, when

In [129]:
tz_df.groupBy('service_zone').count().orderBy('service_zone').show()

+------------+-------+
|service_zone|  count|
+------------+-------+
|    Airports| 218298|
|   Boro Zone|7029926|
|         EWR|      4|
|         N/A|    548|
| Yellow Zone|2587987|
+------------+-------+

In [ ]:
#가장 많은 운송사업자 순으로 정렬하는 분석 쿼리 hvfhs_license_num

In [131]:
tripzone_df.groupBy('dispatching_base_num').count().orderBy('dispatching_base_num').show()

+--------------------+-------+
|dispatching_base_num|  count|
+--------------------+-------+
|              B02395| 142242|
|              B02510|3216493|
|              B02512|  40170|
|              B02617| 324423|
|              B02682| 407878|
|              B02764|1152287|
|              B02765| 619986|
|              B02800| 333768|
|              B02835| 244198|
|              B02836| 178916|
|              B02844|   3042|
|              B02864| 397854|
|              B02865| 107469|
|              B02866| 301181|
|              B02867| 248244|
|              B02869| 484063|
|              B02870| 135147|
|              B02871| 360259|
|              B02872| 873212|
|              B02875| 821245|
+--------------------+-------+
only showing top 20 rows

In [132]:
tripzone_df.groupBy('Borough').count().orderBy('Borough').show()

+-------------+-------+
|      Borough|  count|
+-------------+-------+
|        Bronx|2086592|
|     Brooklyn|3735764|
|          EWR|    362|
|    Manhattan|4953140|
|       Queens|2437383|
|Staten Island| 178818|
|      Unknown|    845|
+-------------+-------+

In [137]:
zone_counts = tripzone_df.groupBy('service_zone').agg(
    count('PULocationID').alias('pickup_count'),
    count('DOLocationID').alias('dropoff_count')
)
# 결과를 출력합니다.
zone_counts.show()

+------------+------------+-------------+
|service_zone|pickup_count|dropoff_count|
+------------+------------+-------------+
|         EWR|         362|          362|
|         N/A|         845|          845|
| Yellow Zone|     4025190|      4025190|
|    Airports|      319610|       319610|
|   Boro Zone|     9046897|      9046897|
+------------+------------+-------------+

In [138]:
zone_counts = tripzone_df.groupBy('service_zone').agg(
    count('PULocationID').alias('pickup_count')
)
# 결과를 출력합니다.
zone_counts.show()

+------------+------------+
|service_zone|pickup_count|
+------------+------------+
|         EWR|         362|
|         N/A|         845|
| Yellow Zone|     4025190|
|    Airports|      319610|
|   Boro Zone|     9046897|
+------------+------------+

In [ ]:
zone_counts = tripzone_df.groupBy('service_zone').agg(
    count('DOLocationID').alias')
)
# 결과를 출력합니다.
zone_counts.show()