In [1]:
from pyspark.sql import SparkSession
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator

spark = SparkSession.builder.appName("classificationExample1").getOrCreate()

In [4]:
data = spark.read.csv("/home/jovyan/work/start_spark/start_spark/running_spark_data/titanic.csv", header=True, inferSchema=True)

In [7]:
data.show(100)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|Gender| Age|SibSp|Parch|          Ticket|    Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|    7.25|       NULL|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599| 71.2833|        C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|   7.925|       NULL|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|    53.1|       C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|    8.05|       NULL|       S|
|          6|       0|     3|    Moran, Mr. James|  male|NULL|    0|    0|          330877|  8.4583|       NULL|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463| 51.8625|        E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909|  21.075|       NULL|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742| 11.1333|       NULL|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736| 30.0708|       NULL|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|    16.7|         G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|   26.55|       C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|    8.05|       NULL|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082|  31.275|       NULL|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406|  7.8542|       NULL|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|    16.0|       NULL|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652|  29.125|       NULL|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|NULL|    0|    0|          244373|    13.0|       NULL|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|    18.0|       NULL|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|NULL|    0|    0|            2649|   7.225|       NULL|       C|
|         21|       0|     2|Fynney, Mr. Joseph J|  male|35.0|    0|    0|          239865|    26.0|       NULL|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|          248698|    13.0|        D56|       S|
|         23|       1|     3|"McGowan, Miss. A...|female|15.0|    0|    0|          330923|  8.0292|       NULL|       Q|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|          113788|    35.5|         A6|       S|
|         25|       0|     3|Palsson, Miss. To...|female| 8.0|    3|    1|          349909|  21.075|       NULL|       S|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|          347077| 31.3875|       NULL|       S|
|         27|       0|     3|Emir, Mr. Farred ...|  male|NULL|    0|    0|            2631|   7.225|       NULL|       C|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|           19950|   263.0|C23 C25 C27|       S|
|         29|       1|     3|"O'Dwyer, Miss. E...|female|NULL|    0|    0|          330959|  7.8792|       NULL|       Q|
|         30|       0|     3| Todoroff, Mr. Lalio|  male|NULL|    0|    0|          349216|  7.8958|       NULL|       S|
|         31|       0|     1|Uruchurtu, Don. M...|  male|40.0|    0|    0|        PC 17601| 27.7208|       NULL|       C|
|         32|       1|     1|Spencer, Mrs. Wil...|female|NULL|    1|    0|        PC 17569|146.5208|        B78|       C|
|         33|       1|     3|Glynn, Miss. Mary...|female|NULL|    0|    0|          335677|    7.75|       NULL|       Q|
|         34|       0|     2|Wheadon, Mr. Edwa...|  male|66.0|    0|    0|      C.A. 24579|    10.5|       NULL|       S|
|         35|       0|     1|Meyer, Mr. Edgar ...|  male|28.0|    1|    0|        PC 17604| 82.1708|       NULL|       C|
|         36|       0|     1|Holverson, Mr. Al...|  male|42.0|    1|    0|          113789|    52.0|       NULL|       S|
|         37|       1|     3|    Mamee, Mr. Hanna|  male|NULL|    0|    0|            2677|  7.2292|       NULL|       C|
|         38|       0|     3|Cann, Mr. Ernest ...|  male|21.0|    0|    0|      A./5. 2152|    8.05|       NULL|       S|
|         39|       0|     3|Vander Planke, Mi...|female|18.0|    2|    0|          345764|    18.0|       NULL|       S|
|         40|       1|     3|Nicola-Yarred, Mi...|female|14.0|    1|    0|            2651| 11.2417|       NULL|       C|
|         41|       0|     3|Ahlin, Mrs. Johan...|female|40.0|    1|    0|            7546|   9.475|       NULL|       S|
|         42|       0|     2|Turpin, Mrs. Will...|female|27.0|    1|    0|           11668|    21.0|       NULL|       S|
|         43|       0|     3| Kraeff, Mr. Theodor|  male|NULL|    0|    0|          349253|  7.8958|       NULL|       C|
|         44|       1|     2|Laroche, Miss. Si...|female| 3.0|    1|    2|   SC/Paris 2123| 41.5792|       NULL|       C|
|         45|       1|     3|Devaney, Miss. Ma...|female|19.0|    0|    0|          330958|  7.8792|       NULL|       Q|
|         46|       0|     3|Rogers, Mr. Willi...|  male|NULL|    0|    0| S.C./A.4. 23567|    8.05|       NULL|       S|
|         47|       0|     3|   Lennon, Mr. Denis|  male|NULL|    1|    0|          370371|    15.5|       NULL|       Q|
|         48|       1|     3|O'Driscoll, Miss....|female|NULL|    0|    0|           14311|    7.75|       NULL|       Q|
|         49|       0|     3| Samaan, Mr. Youssef|  male|NULL|    2|    0|            2662| 21.6792|       NULL|       C|
|         50|       0|     3|Arnold-Franchi, M...|female|18.0|    1|    0|          349237|    17.8|       NULL|       S|
|         51|       0|     3|Panula, Master. J...|  male| 7.0|    4|    1|         3101295| 39.6875|       NULL|       S|
|         52|       0|     3|Nosworthy, Mr. Ri...|  male|21.0|    0|    0|      A/4. 39886|     7.8|       NULL|       S|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|        PC 17572| 76.7292|        D33|       C|
|         54|       1|     2|Faunthorpe, Mrs. ...|female|29.0|    1|    0|            2926|    26.0|       NULL|       S|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|          113509| 61.9792|        B30|       C|
|         56|       1|     1|   Woolner, Mr. Hugh|  male|NULL|    0|    0|           19947|    35.5|        C52|       S|
|         57|       1|     2|   Rugg, Miss. Emily|female|21.0|    0|    0|      C.A. 31026|    10.5|       NULL|       S|
|         58|       0|     3| Novel, Mr. Mansouer|  male|28.5|    0|    0|            2697|  7.2292|       NULL|       C|
|         59|       1|     2|West, Miss. Const...|female| 5.0|    1|    2|      C.A. 34651|   27.75|       NULL|       S|
|         60|       0|     3|Goodwin, Master. ...|  male|11.0|    5|    2|         CA 2144|    46.9|       NULL|       S|
|         61|       0|     3|Sirayanian, Mr. O...|  male|22.0|    0|    0|            2669|  7.2292|       NULL|       C|
|         62|       1|     1| Icard, Miss. Amelie|female|38.0|    0|    0|          113572|    80.0|        B28|    NULL|
|         63|       0|     1|Harris, Mr. Henry...|  male|45.0|    1|    0|           36973|  83.475|        C83|       S|
|         64|       0|     3|Skoog, Master. Ha...|  male| 4.0|    3|    2|          347088|    27.9|       NULL|       S|
|         65|       0|     1|Stewart, Mr. Albe...|  male|NULL|    0|    0|        PC 17605| 27.7208|       NULL|       C|
|         66|       1|     3|Moubarek, Master....|  male|NULL|    1|    1|            2661| 15.2458|       NULL|       C|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|29.0|    0|    0|      C.A. 29395|    10.5|        F33|       S|
|         68|       0|     3|Crease, Mr. Ernes...|  male|19.0|    0|    0|       S.P. 3464|  8.1583|       NULL|       S|
|         69|       1|     3|Andersson, Miss. ...|female|17.0|    4|    2|         3101281|   7.925|       NULL|       S|
|         70|       0|     3|   Kink, Mr. Vincenz|  male|26.0|    2|    0|          315151|  8.6625|       NULL|       S|
|         71|       0|     2|Jenkin, Mr. Steph...|  male|32.0|    0|    0|      C.A. 33111|    10.5|       NULL|       S|
|         72|       0|     3|Goodwin, Miss. Li...|female|16.0|    5|    2|         CA 2144|    46.9|       NULL|       S|
|         73|       0|     2|Hood, Mr. Ambrose Jr|  male|21.0|    0|    0|    S.O.C. 14879|    73.5|       NULL|       S|
|         74|       0|     3|Chronopoulos, Mr....|  male|26.0|    1|    0|            2680| 14.4542|       NULL|       C|
|         75|       1|     3|       Bing, Mr. Lee|  male|32.0|    0|    0|            1601| 56.4958|       NULL|       S|
|         76|       0|     3|Moen, Mr. Sigurd ...|  male|25.0|    0|    0|          348123|    7.65|      F G73|       S|
|         77|       0|     3|   Staneff, Mr. Ivan|  male|NULL|    0|    0|          349208|  7.8958|       NULL|       S|
|         78|       0|     3|Moutal, Mr. Raham...|  male|NULL|    0|    0|          374746|    8.05|       NULL|       S|
|         79|       1|     2|Caldwell, Master....|  male|0.83|    0|    2|          248738|    29.0|       NULL|       S|
|         80|       1|     3|Dowdell, Miss. El...|female|30.0|    0|    0|          364516|  12.475|       NULL|       S|
|         81|       0|     3|Waelens, Mr. Achille|  male|22.0|    0|    0|          345767|     9.0|       NULL|       S|
|         82|       1|     3|Sheerlinck, Mr. J...|  male|29.0|    0|    0|          345779|     9.5|       NULL|       S|
|         83|       1|     3|McDermott, Miss. ...|female|NULL|    0|    0|          330932|  7.7875|       NULL|       Q|
|         84|       0|     1|Carrau, Mr. Franc...|  male|28.0|    0|    0|          113059|    47.1|       NULL|       S|
|         85|       1|     2| Ilett, Miss. Bertha|female|17.0|    0|    0|      SO/C 14885|    10.5|       NULL|       S|
|         86|       1|     3|Backstrom, Mrs. K...|female|33.0|    3|    0|         3101278|   15.85|       NULL|       S|
|         87|       0|     3|Ford, Mr. William...|  male|16.0|    1|    3|      W./C. 6608|  34.375|       NULL|       S|
|         88|       0|     3|Slocovski, Mr. Se...|  male|NULL|    0|    0| SOTON/OQ 392086|    8.05|       NULL|       S|
|         89|       1|     1|Fortune, Miss. Ma...|female|23.0|    3|    2|           19950|   263.0|C23 C25 C27|       S|
|         90|       0|     3|Celotti, Mr. Fran...|  male|24.0|    0|    0|          343275|    8.05|       NULL|       S|
|         91|       0|     3|Christmann, Mr. Emil|  male|29.0|    0|    0|          343276|    8.05|       NULL|       S|
|         92|       0|     3|Andreasson, Mr. P...|  male|20.0|    0|    0|          347466|  7.8542|       NULL|       S|
|         93|       0|     1|Chaffee, Mr. Herb...|  male|46.0|    1|    0|     W.E.P. 5734|  61.175|        E31|       S|
|         94|       0|     3|Dean, Mr. Bertram...|  male|26.0|    1|    2|       C.A. 2315|  20.575|       NULL|       S|
|         95|       0|     3|   Coxon, Mr. Daniel|  male|59.0|    0|    0|          364500|    7.25|       NULL|       S|
|         96|       0|     3|Shorney, Mr. Char...|  male|NULL|    0|    0|          374910|    8.05|       NULL|       S|
|         97|       0|     1|Goldschmidt, Mr. ...|  male|71.0|    0|    0|        PC 17754| 34.6542|         A5|       C|
|         98|       1|     1|Greenfield, Mr. W...|  male|23.0|    0|    1|        PC 17759| 63.3583|    D10 D12|       C|
|         99|       1|     2|Doling, Mrs. John...|female|34.0|    0|    1|          231919|    23.0|       NULL|       S|
|        100|       0|     2|   Kantor, Mr. Sinai|  male|34.0|    1|    0|          244367|    26.0|       NULL|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+--------+-----------+--------+
only showing top 100 rows

In [15]:
#결측치 처리
from pyspark.sql.functions import col,sum, when, isnan

In [29]:
null_counts = data.select(
                    [
                        sum( when(col(c).isNull() | isnan(c),1).otherwise(0) ).alias(c)
                        for c in data.columns
                    ]
                )
null_counts.show()

+-----------+--------+------+----+------+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Gender|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+------+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|     0|  0|    0|    0|     0|   0|  687|       2|
+-----------+--------+------+----+------+---+-----+-----+------+----+-----+--------+

In [31]:
# feature selection
data_1 = data.select('Survived', 'Pclass', 'Gender', 'Age', 'SibSp', 'Parch','Fare' )
data_1.show(3)

+--------+------+------+----+-----+-----+-------+
|Survived|Pclass|Gender| Age|SibSp|Parch|   Fare|
+--------+------+------+----+-----+-----+-------+
|       0|     3|  male|22.0|    1|    0|   7.25|
|       1|     1|female|38.0|    1|    0|71.2833|
|       1|     3|female|26.0|    0|    0|  7.925|
+--------+------+------+----+-----+-----+-------+
only showing top 3 rows

In [33]:
meanage=data_1.select("Age").agg({
    "Age":"mean"
}).collect()[0][0]

In [34]:
data_1= data_1.fillna({'Age': meanage})
data_1.show(40)

+--------+------+------+-----------------+-----+-----+--------+
|Survived|Pclass|Gender|              Age|SibSp|Parch|    Fare|
+--------+------+------+-----------------+-----+-----+--------+
|       0|     3|  male|             22.0|    1|    0|    7.25|
|       1|     1|female|             38.0|    1|    0| 71.2833|
|       1|     3|female|             26.0|    0|    0|   7.925|
|       1|     1|female|             35.0|    1|    0|    53.1|
|       0|     3|  male|             35.0|    0|    0|    8.05|
|       0|     3|  male|29.69911764705882|    0|    0|  8.4583|
|       0|     1|  male|             54.0|    0|    0| 51.8625|
|       0|     3|  male|              2.0|    3|    1|  21.075|
|       1|     3|female|             27.0|    0|    2| 11.1333|
|       1|     2|female|             14.0|    1|    0| 30.0708|
|       1|     3|female|              4.0|    1|    1|    16.7|
|       1|     1|female|             58.0|    0|    0|   26.55|
|       0|     3|  male|             20.0|    0|    0|    8.05|
|       0|     3|  male|             39.0|    1|    5|  31.275|
|       0|     3|female|             14.0|    0|    0|  7.8542|
|       1|     2|female|             55.0|    0|    0|    16.0|
|       0|     3|  male|              2.0|    4|    1|  29.125|
|       1|     2|  male|29.69911764705882|    0|    0|    13.0|
|       0|     3|female|             31.0|    1|    0|    18.0|
|       1|     3|female|29.69911764705882|    0|    0|   7.225|
|       0|     2|  male|             35.0|    0|    0|    26.0|
|       1|     2|  male|             34.0|    0|    0|    13.0|
|       1|     3|female|             15.0|    0|    0|  8.0292|
|       1|     1|  male|             28.0|    0|    0|    35.5|
|       0|     3|female|              8.0|    3|    1|  21.075|
|       1|     3|female|             38.0|    1|    5| 31.3875|
|       0|     3|  male|29.69911764705882|    0|    0|   7.225|
|       0|     1|  male|             19.0|    3|    2|   263.0|
|       1|     3|female|29.69911764705882|    0|    0|  7.8792|
|       0|     3|  male|29.69911764705882|    0|    0|  7.8958|
|       0|     1|  male|             40.0|    0|    0| 27.7208|
|       1|     1|female|29.69911764705882|    1|    0|146.5208|
|       1|     3|female|29.69911764705882|    0|    0|    7.75|
|       0|     2|  male|             66.0|    0|    0|    10.5|
|       0|     1|  male|             28.0|    1|    0| 82.1708|
|       0|     1|  male|             42.0|    1|    0|    52.0|
|       1|     3|  male|29.69911764705882|    0|    0|  7.2292|
|       0|     3|  male|             21.0|    0|    0|    8.05|
|       0|     3|female|             18.0|    2|    0|    18.0|
|       1|     3|female|             14.0|    1|    0| 11.2417|
+--------+------+------+-----------------+-----+-----+--------+
only showing top 40 rows

In [54]:
from pyspark.sql.functions import col, when, expr
from pyspark.ml.feature import StringIndexer, VectorAssembler

In [38]:
indexer=StringIndexer(inputCol="Gender", outputCol="SexIndexer")
data_1 = indexer.fit(data_1).transform(data_1)
data_1.show(5)

+--------+------+------+----+-----+-----+-------+----------+
|Survived|Pclass|Gender| Age|SibSp|Parch|   Fare|SexIndexer|
+--------+------+------+----+-----+-----+-------+----------+
|       0|     3|  male|22.0|    1|    0|   7.25|       0.0|
|       1|     1|female|38.0|    1|    0|71.2833|       1.0|
|       1|     3|female|26.0|    0|    0|  7.925|       1.0|
|       1|     1|female|35.0|    1|    0|   53.1|       1.0|
|       0|     3|  male|35.0|    0|    0|   8.05|       0.0|
+--------+------+------+----+-----+-----+-------+----------+
only showing top 5 rows

In [41]:
#FeatureVector 생성
assembler = VectorAssembler(
    inputCols=['Pclass','SexIndexer', 'Age', 'SibSp', 'Parch','Fare'],
    outputCol='features'
)
data_1 = assembler.transform(data_1)
data_1.select('features','Survived').show(5)

+--------------------+--------+
|            features|Survived|
+--------------------+--------+
|[3.0,0.0,22.0,1.0...|       0|
|[1.0,1.0,38.0,1.0...|       1|
|[3.0,1.0,26.0,0.0...|       1|
|[1.0,1.0,35.0,1.0...|       1|
|[3.0,0.0,35.0,0.0...|       0|
+--------------------+--------+
only showing top 5 rows

In [46]:
#데이터셋 분할
train_data, test_data =data_1.randomSplit([0.8,0.2], seed=42)
train_data.show(5)
test_data.show(5)

+--------+------+------+----+-----+-----+------+----------+--------------------+
|Survived|Pclass|Gender| Age|SibSp|Parch|  Fare|SexIndexer|            features|
+--------+------+------+----+-----+-----+------+----------+--------------------+
|       0|     1|female| 2.0|    1|    2|151.55|       1.0|[1.0,1.0,2.0,1.0,...|
|       0|     1|female|25.0|    1|    2|151.55|       1.0|[1.0,1.0,25.0,1.0...|
|       0|     1|  male|18.0|    1|    0| 108.9|       0.0|[1.0,0.0,18.0,1.0...|
|       0|     1|  male|19.0|    1|    0|  53.1|       0.0|[1.0,0.0,19.0,1.0...|
|       0|     1|  male|19.0|    3|    2| 263.0|       0.0|[1.0,0.0,19.0,3.0...|
+--------+------+------+----+-----+-----+------+----------+--------------------+
only showing top 5 rows

+--------+------+------+-----------------+-----+-----+-------+----------+--------------------+
|Survived|Pclass|Gender|              Age|SibSp|Parch|   Fare|SexIndexer|            features|
+--------+------+------+-----------------+-----+-----+-------+----------+--------------------+
|       0|     1|female|             50.0|    0|    0|28.7125|       1.0|[1.0,1.0,50.0,0.0...|
|       0|     1|  male|             21.0|    0|    1|77.2875|       0.0|[1.0,0.0,21.0,0.0...|
|       0|     1|  male|             24.0|    0|    0|   79.2|       0.0|[1.0,0.0,24.0,0.0...|
|       0|     1|  male|             29.0|    0|    0|   30.0|       0.0|[1.0,0.0,29.0,0.0...|
|       0|     1|  male|29.69911764705882|    0|    0|  26.55|       0.0|[1.0,0.0,29.69911...|
+--------+------+------+-----------------+-----+-----+-------+----------+--------------------+
only showing top 5 rows

In [49]:
#모델생성 
from pyspark.ml.classification import LogisticRegression
lr = LogisticRegression(featuresCol='features', labelCol="Survived")
lr_model =lr.fit(train_data)
predic = lr_model.transform(test_data)
predic.select('features', 'Survived', 'prediction').show(5)

+--------------------+--------+----------+
|            features|Survived|prediction|
+--------------------+--------+----------+
|[1.0,1.0,50.0,0.0...|       0|       1.0|
|[1.0,0.0,21.0,0.0...|       0|       1.0|
|[1.0,0.0,24.0,0.0...|       0|       1.0|
|[1.0,0.0,29.0,0.0...|       0|       1.0|
|[1.0,0.0,29.69911...|       0|       1.0|
+--------------------+--------+----------+
only showing top 5 rows

In [52]:
predic.select('Survived', 'prediction').groupBy('Survived','prediction').count().show()

+--------+----------+-----+
|Survived|prediction|count|
+--------+----------+-----+
|       1|       0.0|   16|
|       0|       0.0|   72|
|       1|       1.0|   45|
|       0|       1.0|   12|
+--------+----------+-----+

In [55]:
comp=predic.withColumn('correct',expr('case when Survived = prediction then 1 else 0 end'))
comp.where('correct=0').count()

28

In [56]:
# 틀린 데이터만 필터링
predic.filter(col('Survived') != col('prediction')).show()

+--------+------+------+-----------------+-----+-----+--------+----------+--------------------+--------------------+--------------------+----------+
|Survived|Pclass|Gender|              Age|SibSp|Parch|    Fare|SexIndexer|            features|       rawPrediction|         probability|prediction|
+--------+------+------+-----------------+-----+-----+--------+----------+--------------------+--------------------+--------------------+----------+
|       0|     1|female|             50.0|    0|    0| 28.7125|       1.0|[1.0,1.0,50.0,0.0...|[-1.9520233772457...|[0.12433289705143...|       1.0|
|       0|     1|  male|             21.0|    0|    1| 77.2875|       0.0|[1.0,0.0,21.0,0.0...|[-0.5063625084573...|[0.37604662481402...|       1.0|
|       0|     1|  male|             24.0|    0|    0|    79.2|       0.0|[1.0,0.0,24.0,0.0...|[-0.5000095386390...|[0.37753842718518...|       1.0|
|       0|     1|  male|             29.0|    0|    0|    30.0|       0.0|[1.0,0.0,29.0,0.0...|[-0.1615540822042...|[0.45969909487698...|       1.0|
|       0|     1|  male|29.69911764705882|    0|    0|   26.55|       0.0|[1.0,0.0,29.69911...|[-0.1231782413911...|[0.46924431750958...|       1.0|
|       0|     1|  male|29.69911764705882|    0|    0|    31.0|       0.0|[1.0,0.0,29.69911...|[-0.1347897264619...|[0.46635349453316...|       1.0|
|       0|     1|  male|29.69911764705882|    0|    0|221.7792|       0.0|[1.0,0.0,29.69911...|[-0.6325941832296...|[0.34692254756630...|       1.0|
|       0|     3|female|              9.0|    1|    1| 15.2458|       1.0|[3.0,1.0,9.0,1.0,...|[-0.8294985925619...|[0.30375110057917...|       1.0|
|       0|     3|female|             14.0|    0|    0|  7.8542|       1.0|[3.0,1.0,14.0,0.0...|[-1.1048782816873...|[0.24882696769997...|       1.0|
|       0|     3|female|             22.0|    0|    0| 10.5167|       1.0|[3.0,1.0,22.0,0.0...|[-0.7757027387564...|[0.31524678240576...|       1.0|
|       0|     3|female|             28.0|    1|    1|    14.4|       1.0|[3.0,1.0,28.0,1.0...|[-0.0289998254718...|[0.49275055168429...|       1.0|
|       0|     3|female|29.69911764705882|    0|    0|  8.1375|       1.0|[3.0,1.0,29.69911...|[-0.4460134544155...|[0.39030901997152...|       1.0|
|       1|     1|  male|             40.0|    0|    0|    31.0|       0.0|[1.0,0.0,40.0,0.0...|[0.29800553338314...|[0.57395488063056...|       0.0|
|       1|     1|  male|             42.0|    0|    0| 26.2875|       0.0|[1.0,0.0,42.0,0.0...|[0.39433268162065...|[0.59732526764030...|       0.0|
|       1|     1|  male|             45.0|    0|    0|   26.55|       0.0|[1.0,0.0,45.0,0.0...|[0.51969380848810...|[0.62707616571001...|       0.0|
|       1|     2|  male|              2.0|    1|    1|    26.0|       0.0|[2.0,0.0,2.0,1.0,...|[0.37184806510138...|[0.59190546052286...|       0.0|
|       1|     3|female|29.69911764705882|    2|    0|   23.25|       1.0|[3.0,1.0,29.69911...|[0.29463470411987...|[0.57313040472105...|       0.0|
|       1|     3|female|             33.0|    3|    0|   15.85|       1.0|[3.0,1.0,33.0,3.0...|[0.84267221664326...|[0.69902771706049...|       0.0|
|       1|     3|female|             38.0|    1|    5| 31.3875|       1.0|[3.0,1.0,38.0,1.0...|[0.80563898861163...|[0.69117942146816...|       0.0|
|       1|     3|female|             63.0|    0|    0|  9.5875|       1.0|[3.0,1.0,63.0,0.0...|[0.94935152197948...|[0.72098474515652...|       0.0|
+--------+------+------+-----------------+-----+-----+--------+----------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [57]:
#정확도 평가

In [60]:
comp.selectExpr('avg(correct) as accuracy').collect()[0]['accuracy']

0.8068965517241379

In [58]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

eval = BinaryClassificationEvaluator(labelCol='Survived', rawPredictionCol='rawPrediction', metricName='areaUnderROC')

auc = eval.evaluate(predic)
auc

0.8664129586260734

In [ ]:
#AUROC - > X출 FPR, Y축 TPR의 곡선 아래면서, 1에 가까울수록 좋은모델

In [67]:
spark.stop()

In [68]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("classificationExample2").getOrCreate()

In [71]:
data2 = spark.read.format('libsvm').load("/home/jovyan/work/start_spark/start_spark/running_spark_data/sample_libsvm_data.txt", header=True, inferSchema=True)

In [65]:
#libsvm 파일의 형식적처리 텍스트 파일형식의 처리, 텍스트 파일형석,  희소데이터용 압축파일이다, 메모리, 처리속도 개선 - 머신러닝에서 활용되는 형식
# 레이블 행, 값

In [76]:
data2.show(3)
data2.count()

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  0.0|(692,[127,128,129...|
|  1.0|(692,[158,159,160...|
|  1.0|(692,[124,125,126...|
+-----+--------------------+
only showing top 3 rows

100

In [78]:
train_data, test_data = data2.randomSplit([0.7,0.3], seed=12)

In [80]:
train_data.show()
test_data.show()

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  0.0|(692,[95,96,97,12...|
|  0.0|(692,[121,122,123...|
|  0.0|(692,[122,123,124...|
|  0.0|(692,[122,123,148...|
|  0.0|(692,[123,124,125...|
|  0.0|(692,[123,124,125...|
|  0.0|(692,[124,125,126...|
|  0.0|(692,[124,125,126...|
|  0.0|(692,[124,125,126...|
|  0.0|(692,[124,125,126...|
|  0.0|(692,[124,125,126...|
|  0.0|(692,[124,125,126...|
|  0.0|(692,[125,126,127...|
|  0.0|(692,[126,127,128...|
|  0.0|(692,[126,127,128...|
|  0.0|(692,[126,127,128...|
|  0.0|(692,[126,127,128...|
|  0.0|(692,[126,127,128...|
|  0.0|(692,[126,127,128...|
|  0.0|(692,[129,130,131...|
+-----+--------------------+
only showing top 20 rows

+-----+--------------------+
|label|            features|
+-----+--------------------+
|  0.0|(692,[98,99,100,1...|
|  0.0|(692,[100,101,102...|
|  0.0|(692,[123,124,125...|
|  0.0|(692,[126,127,128...|
|  0.0|(692,[126,127,128...|
|  0.0|(692,[127,128,129...|
|  0.0|(692,[127,128,129...|
|  0.0|(692,[127,128,129...|
|  0.0|(692,[128,129,130...|
|  0.0|(692,[152,153,154...|
|  0.0|(692,[154,155,156...|
|  0.0|(692,[234,235,237...|
|  1.0|(692,[119,120,121...|
|  1.0|(692,[123,124,125...|
|  1.0|(692,[125,126,127...|
|  1.0|(692,[126,127,128...|
|  1.0|(692,[127,128,129...|
|  1.0|(692,[128,129,130...|
|  1.0|(692,[129,130,131...|
|  1.0|(692,[129,130,131...|
+-----+--------------------+
only showing top 20 rows

In [81]:
from pyspark.ml.classification import LogisticRegression
lr = LogisticRegression(maxIter=10, regParam=0.3, elasticNetParam=0.8)
lrmodel =lr.fit(train_data)
pred = lrmodel.transform(test_data)
pred.show()

+-----+--------------------+--------------------+--------------------+----------+
|label|            features|       rawPrediction|         probability|prediction|
+-----+--------------------+--------------------+--------------------+----------+
|  0.0|(692,[98,99,100,1...|[0.95414441393043...|[0.72194788886091...|       0.0|
|  0.0|(692,[100,101,102...|[0.48568919283978...|[0.61909039185191...|       0.0|
|  0.0|(692,[123,124,125...|[1.00961478127974...|[0.73294475454830...|       0.0|
|  0.0|(692,[126,127,128...|[0.90293696106823...|[0.71155267489794...|       0.0|
|  0.0|(692,[126,127,128...|[0.75830339388632...|[0.68098526895593...|       0.0|
|  0.0|(692,[127,128,129...|[0.97194839391749...|[0.72550768363690...|       0.0|
|  0.0|(692,[127,128,129...|[0.88414239930651...|[0.70767989197633...|       0.0|
|  0.0|(692,[127,128,129...|[0.96585465524705...|[0.72429247205628...|       0.0|
|  0.0|(692,[128,129,130...|[0.91063904393044...|[0.71313091310478...|       0.0|
|  0.0|(692,[152,153,154...|[0.67037454557081...|[0.66158702114842...|       0.0|
|  0.0|(692,[154,155,156...|[0.22662756202171...|[0.55641563776876...|       0.0|
|  0.0|(692,[234,235,237...|[0.69281660305503...|[0.66659320095189...|       0.0|
|  1.0|(692,[119,120,121...|[-0.7103936851622...|[0.32951185599794...|       1.0|
|  1.0|(692,[123,124,125...|[-1.1121574575541...|[0.24746889060867...|       1.0|
|  1.0|(692,[125,126,127...|[-0.9437432276338...|[0.28014484853753...|       1.0|
|  1.0|(692,[126,127,128...|[-1.3904696848310...|[0.19933278492720...|       1.0|
|  1.0|(692,[127,128,129...|[-1.3681597860088...|[0.20291732339433...|       1.0|
|  1.0|(692,[128,129,130...|[-1.3232736475551...|[0.21027415944002...|       1.0|
|  1.0|(692,[129,130,131...|[-0.0850507379202...|[0.47875012345108...|       1.0|
|  1.0|(692,[129,130,131...|[-1.1181836061402...|[0.24634836137715...|       1.0|
+-----+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [82]:
eval = BinaryClassificationEvaluator( metricName='areaUnderROC')
auc = eval.evaluate(pred)
auc

1.0